.container-fluid{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearfix{
    @extend %clearfix;
}
.#{$prefix}-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.#{$prefix}-col-3,
.#{$prefix}-col-4,
.#{$prefix}-col-6,
.#{$prefix}-col-8,
.#{$prefix}-col-9{
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
    @include media(sm){
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.#{$prefix}-col-3{
    @include media(lg){
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.#{$prefix}-col-4{
    @include media(lg){
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}
.#{$prefix}-col-6{
    @include media(lg){
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.#{$prefix}-col-8{
    @include media(lg){      
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
} 
.#{$prefix}-col-9{
    @include media(lg){
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.#{$prefix}-col-12{
    padding-left: 7.5px;
    padding-right: 7.5px;
    flex: 0 0 100%;
    max-width: 100%;
}
.#{$prefix}-col-md-12{
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include media(md){
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.#{$prefix}-col-lg-3{
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include media(lg){
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.#{$prefix}-col-lg-6{
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include media(lg){
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.#{$prefix}-col-lg-9{
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include media(lg){
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.#{$prefix}-col-half{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    @include media(sm){
        flex: 0 0 50%;
        max-width: 50%;
    }
}
#content{
    @extend %clearfix;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    #primary{
        padding-left: 15px;
        padding-right: 15px;
        @include media(md){
            float: left;
            width: 60%;
        }
        @include media(lg){
            width: 70%;
            padding-right: 30px;
            padding-left: 0;
        }
   }
   #secondary{
       padding-left: 15px;
       padding-right: 15px;
       @include media(md){
            float: right;
            width: 40%;
        }
       @include media(lg){
            width: 30%;
            padding-left: 30px;
            padding-right: 0;
        }
   }
}
.right-sidebar{
    #content{
        #primary{
            padding-left: 15px;
            padding-right: 15px;
            @include media(md){
                float: left;
                width: 60%;
                
            }
            @include media(lg){
                padding-right: 30px;
                padding-left: 0;
                width: 70%;
            }
        }
        #secondary{
            padding-left: 15px;
            padding-right: 15px;
            @include media(md){
                float: right;
                width: 40%;
            }
            @include media(lg){
                padding-left: 30px;
                padding-right: 0;
                width: 30%;
            }

        }
    }
}
.left-sidebar{
    #content{
        #primary{
            padding-left: 15px;
            padding-right: 15px;
            @include media(md){
                float: right;
                width: 60%;
            }
            @include media(lg){
                width: 70%;
                padding-right: 0;
                padding-left: 30px;
            }
        }
        #secondary{
            padding-left: 15px;
            padding-right: 15px;
            @include media(md){
                float: left;
                width: 40%;
            }
            @include media(lg){
                width: 30%;
                padding-left: 0;
                padding-right: 30px;
            }
        }
    }
}
.no-sidebar{
    #content{
        #primary{
            padding-left: 15px;
            padding-right: 15px;
            @include media(md){
                float: left;
                width: 100%;
            }
        }
        #secondary{
            display: none;
        }
    }
}
