
.#{$prefix}-editorial-full-post-list{
    @include border-left(10px,solid);
    @include border-right(10px,solid);
    @include border-bottom(10px,solid);
    @extend %primary-border;
  
    h3{
        margin: 0;
        text-align: center;
        @extend %primary-bg;
        color: $color_white;
        padding: 15px;
    }
    .#{$prefix}-editorial-list-post{
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 10px;
    }
}