@import 'content/master';
@import 'widget/master';
.site-content{
    padding: 15px 0 45px 0;
   
}
.home,
.search,
.archive{
    .site-main{
        display: flex;
        flex-wrap: wrap;
        .page-header,
        .posts-navigation,
        .post-navigation{
            flex: 0 0 100%;
            max-width: 100%;
        }
        article{
            flex: 0 0 100%;
            max-width: 100%;
            @include media(lg){
                flex: 0 0 calc(50% - 15px);
                max-width: calc(50% - 15px);
                margin-left: 7.5px;
                margin-right: 7.5px;
    
            }
        }
    }
}