/*
Theme Name: Multipurpose Magazine
Theme URI: https://www.themesglance.com/themes/free-wordpress-magazine-theme/
Author: Themesglance
Author URI: https://www.themesglance.com/
Description: Multipurpose Magazine is a vibrant, energetic, feature-full and highly organized WordPress magazine theme which is made to be used by online magazines, newspapers, editors, journalists, publishing units, bloggers, informative sites, educational websites, content writers, digital news media and other similar websites. It is flexible to be used for portfolio website. This modern theme is filled with many advanced and high-level features and functions to design a top performing website. Banners and sliders are provided to give it a stylish look. You get unlimited colour options and numerous Google fonts to make it more appealing and eye-catching. Social media is an important part of any news and magazine website and that is why so many popular and trending social networking platforms are included in the theme. Its Bootstrap framework facilitates its easy usage. This magazine WordPress theme is totally responsive, compatible with various browsers, multilingual and optimized for search engines. It supports multiple post formats like image, video, audio etc. Multipurpose Magazine shows sharp and crisp images on retina ready devices enhancing overall website look. It has a great page loading speed. It can be deeply customized through theme customizer to suit your brand and give it a personalized touch. Demo: https://themesglance.com/multipurpose-magazine-pro/
Version: 0.3.1
License: GNU General Public License
License URI: license.txt
Text Domain: multipurpose-magazine
Tags: left-sidebar, right-sidebar, one-column, two-columns, three-columns, four-columns, grid-layout, custom-background, custom-logo, custom-menu, custom-header, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, rtl-language-support, blog, news, e-commerce

Multipurpose Magazine WordPress Theme has been created by Themesglance(themesglance.com), 2018.
Multipurpose Magazine WordPress Theme is released under the Terms of GNU GPL
*/

/* Basic Style */
*{
	margin:0;
	padding:0;
	outline:none;
}
body{
	margin:0;
	padding:0;
	-ms-word-wrap:break-word;
	word-wrap:break-word;
	background-color:#fff;
	font-size: 16px;
  letter-spacing: .51px;
	color:#000;
	font-family: 'Ubuntu', sans-serif;
}
img{
	margin:0;
	padding:0;
	border:none;
	max-width:100%;
	height:auto;
}
section img{
	max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0;
	padding:10px 0;
}
p{
	margin:0 0 15px;
	padding:0;
	font-size:15px;
  font-family: 'Karla', sans-serif;
}
a{
	text-decoration:none;
	color: #fe7c09;
}
a:hover{
	text-decoration:none;
	color: #000;
}
a:focus,
a:hover{
	text-decoration:none !important;
}
ul{
	margin:0 0 0 15px;
	padding:0;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
select{
  width:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  clear:both;
}
.clear{
	clear:both;
}
input[type='submit']:hover{
	cursor: pointer;
}
.center{
	text-align:center;
	margin-bottom:40px;
}
.main-wrap-box{
	margin:0 auto;
	padding:20px 0 20px;
}
.wp-caption{
	margin:0;
	padding:0;
	font-size:13px;
	max-width:100%;
}
.wp-caption-text{
	margin:0;
	padding:0;
}
.screen-reader-text {
	position: absolute;
	top:-9999em;
	left:-9999em;
}
.sticky{
	margin:0;
	padding:0;
}
.gallery-caption{
	margin:0;
	padding:0;
}
.alignleft,
 img.alignleft {
 	display: inline;
	float: left;
	margin-right:20px;
	margin-top:4px;
	margin-bottom:10px;
	padding:0;
	border:1px solid #bbb;
	padding:5px;
}
.alignright,
 img.alignright {
	display: inline;
	float: right;
	border:1px solid #bbb;
	padding:5px;
	margin-bottom:10px;
	margin-left:25px;
}
.aligncenter,
 img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	border:1px solid #bbb;
	padding:5px;
}
.comment-list .comment-content ul {
	list-style:none;
	margin-left:15px;
}
.comment-list .comment-content ul li{
	margin:5px;
}
#respond{
	clear:both;
}
.toggleMenu{
 	display:none;
}
.bypostauthor{
	margin:0;
	padding:0;
}
small{
	font-size:14px !important;
}
input[type="text"],
input[type="email"],
input[type="phno"],
 textarea{
	border:1px solid #bcbcbc;
	width:100%;
	font-size:16px;
	padding:10px 10px;
	margin:0 0 23px 0;
	height:auto;
}
textarea{
	height:111px;
}
input[type="submit"] {
	border: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 18px;
  background: #fe7c09;
  font-weight: bold;
  color: #fff;
  margin: 0 10px;
}
input[type="submit"]:hover{
	background:#222;
}
table,
th,
td {
	border: 1px solid #d1d1d1;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	/* Prevents HTML tables from becoming too wide */
	width: 100%;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}
td {
	border-width: 0 1px 1px 0;
}
th,
td {
	padding: 0.4375em;
}
/* Calendar widget */
.widget.widget_calendar table {
	margin: 0;
}
.widget_calendar td,
.widget_calendar th {
	line-height: 2.5625;
	padding: 0;
	text-align: center;
}
.widget_calendar caption {
  font-weight: 900;
  margin-bottom: 1em;
  color: #fff;
  font-size: 20px;
}
.widget_calendar tbody a {
	background-color: #007acc;
	color: #fff;
	display: block;
	font-weight: 700;
}
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus {
	background-color: #686868;
	color: #fff;
}
.widget th,
.widget td {
	padding: 0em;
}
span.page-links-title {
	clear: both;
  position: relative;
  font-size: 14px;
  line-height: 13px;
  font-weight: bold;
  padding: 15px;
}
span.page-number {
  padding: 10px 15px;
}
span.page-number,span.page-links-title{
	display: block;
  float: left;
  margin: 2px 2px 2px 0;
	text-decoration: none;
  width: auto;
  color: #fff;
  font-weight: bold;
  background: #1b1b1b;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}

/* ---------Buttons--------- */
a.button{
	background:#1b1b1b;
  color: #fff;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 10px 30px;
	font-weight:bold;
}	
/* ---------HEADER--------- */
#header .top {
  background: #000;
}
#header .menu-sec {
  background: #fe7c09;
}
#header .custom-social-icons a {
  padding: 0 4px;
}
.top-bar .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  right: 1%;
  color: #fff;
  text-align: center;
}
.top-bar .box-image{
  padding: 15px 0;
}
.top .social_widget i {
  color: #807f7f;
  border: 1px solid;
  border-radius: 50%;
}
.top .social_widget {
  padding: 25px 0;
}
i.fab.fa-facebook-f {
  padding: 10px 14px;
}
i.fab.fa-twitter,
i.fab.fa-linkedin-in,
i.fab.fa-instagram{
  padding: 10px;
}
i.fab.fa-tumblr,
i.fab.fa-pinterest-p {
  padding: 10px 12px;
}
i.fab.fa-google-plus-g,
i.fab.fa-youtube {
  padding: 10px 8px;
}
.login i.fa.fa-search {
  color: #807f7f;
  padding: 4px 15px;
  border-right: 1px solid;
}
.login i {
  padding: 0 10px;
}
.login a {
 color: #807f7f;
}
.login {
  padding: 35px 0;
  text-align: right;
}
.logo p {
  color: #fff;
}
.logo {
  text-align: center;
}
.logo h1 a {
  font-size: 31px;
}
.logo h1 a:hover {
  color: #fe7c09;
}
.text .know-btn{
  transform: rotate(90deg);
  text-align: center;
  padding-left: 8px;
}
.text .know-btn a.blogbutton-small {
  font-size: 12px;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  background: #fe7c09;
}
.text h5 {
  font-size: 18px;
  font-weight: 700;
}
.contact-details {
  padding-top: 25px;
}
.contact-details i {
  color: #fe7c09;
  font-size: 30px;
}
.contact-details p {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 0;
  margin-bottom: 5px;
}
.contact-details p.heading {
  font-size: 20px;
  font-weight: 600;
}
.news span.headline {
  color: #fe7c09;
  font-size: 15px;
  font-weight: 500;
}
#header .nav{
	margin:0;
	padding:0;
	text-align:left;
}
#header .nav ul {
	font-size:14px;
	text-transform: uppercase;
}
#header .nav ul li{
	display:inline-block;	
	margin:0;
	position:relative;
}
#header .nav ul li a{
	color: #ffffff;
  padding: 15px 14px;
  display: block;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 15px;
}
#header .nav ul li:hover > ul li:hover{
	background: #fe7c09;
}
#header .nav ul li:hover > ul li:hover > a:hover{
  color: #fff;
  background: #fe7c09;
}
/*-----------------Search pop up----------------*/
.serach_inner input.search-field {
  width: 100%;
  padding: 10px;
  background: transparent;
}
.serach_inner label {
  width: 80%;
}
.serach_outer {
 position: fixed;
 width: 100%;
 height: 100%;
 background: #000;
 overflow: hidden;
 transition: 0.5s;
 z-index: 999;
 top: 0;
 left: 0;
 background-color: rgb(0,0,0);
 background-color: rgba(0,0,0, 0.8);
 display: none;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.closepop {
 position: absolute;
 top: 20%;
 transform: translateY(-50%);
 width: 100%;
 right: 0;
 text-align: right;
 margin-right: 28px;
}
.serach_outer i {
 font-size: 24px;
 padding: 4px 0 0 0;
 color: #bbb;
 cursor: pointer;
}
.serach_inner form.search-form {
  display: table;
  padding: 0;
  border-radius: 0;
  background: #ffffff;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}
.serach_inner form.search-form {
 display: table;
 border: 1px solid #bababf;
 padding: 14px 20px;
 border-radius: 0;
 background: #ffffff;
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
 border-radius: 30px;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
 border: 0;
 background: transparent;
}
input.search-field {
 border: none;
 padding: 4px 0;
 width: 95%;
}

/*-----------Slider--------*/
#categry .owl-nav {
  width: 100%;
}
#categry .owl-dots{
  display: none;
}
#categry .owl-carousel .owl-nav .owl-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}
#categry .owl-carousel .owl-nav .owl-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next{
  border-radius: 50%;
  padding: 12px 15px;
  background: #fe7c09;
  border: none;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
#categry .text-content {
  position: absolute;
  top: 70%;
  transform: translateY(-30%);
  left: 10%;
  right: 10%;
}
#categry .text-content h4 a {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
#categry .text-content h4 {
  margin-top: 15px;
  padding-bottom: 8px;
}
#categry .text-content p {
  color: #fff;
  font-size: 15px;
  line-height: 1.8;
}
#categry .owl-carousel .owl-item{
  background: #000;
}
#categry .owl-carousel .owl-item img{
  opacity: 0.7;
}
#categry .meta-box a {
  color: #fff;
  background: #fe7c09;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
#categry .meta-box span.entry-date, #categry .meta-box span.entry-time {
  color: #fff;
  padding: 0px 15px;
}
#categry .meta-box span.entry-date i, #categry .meta-box span.entry-time i {
  padding-right: 10px;
}
/* ---------blog--------- */
.blog-sec .post-info{
  padding: 15px;
  position: relative;
  width: 70px;
  color: #fff;
  background: #fe7c09;
}
hr.metahr {
 border-top: solid 1px;
}
.month {
 margin-top: 5px;
}
.blog-sec h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  color: #242424;
  letter-spacing: .40px;
  text-align: left;
}
.blog-sec h3 a {
  color: #fe7c09;
}
.box-image img {
  width: 100%;
}
.blog-sec {
  margin-bottom: 4%;
  border: 1px solid #e4e4e4;
  padding: 12px;
}
.blog-sec p {
  color: #797979;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}
h1.page-title,
h1.search-title {
  background: #fe7c09;
  margin-bottom: 3%;
  color: #fff;
  text-align: center;
}
.header input[type="submit"] {
  background: url(images/search.png) no-repeat 23px 10px;
  text-align: center;
  float: right;
  text-indent: -9999px;
  border: none;
  margin: 0;
  padding: 7px 35px
}
/*-----------------Search----------------*/
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
    width: 100%;
}
.search-box input[type="search"]::placeholder{
  color: #fff;
}
.search-box input.search-field {
  border: none;
  padding: 4px 0;
}

/* top-trending Section */
#top-trending {
  padding: 3% 0;
  background:#f7f7f7  ;
}
#top-trending img {
  width: 100%;
}
#top-trending h3 {
  color: #000;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  border-left: 3px solid #fe7c09;
  padding: 10px;
}
#top-trending hr.top-head {
  margin: 0;
  border-top: 3px solid #fe7c09;
  width: 12%;
}
#top-trending h4 {
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 90%;
  background: linear-gradient(transparent, #000);
}
#top-trending h4 a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding-top: 0;
}
.abt-image {
  border: 7px solid #cecccc;
  margin: 13px;
  margin-bottom: 36px;
}
#top-trending .abt-img-box {
  margin: 15px 0 0;
  text-align: center;
}
#top-trending .trending-cat .top-tag a{
  position: absolute;
  top: 30%;
  transform: translateY(-70%);
  color: #fff;
  background: #fe7c09;
  padding: 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.description p {
  text-align: center;
  color: #000;
  padding: 0 13%;
}
.home-content {
  padding: 3% 0;
}
.entry-audio audio {
    width: 100%;
}

/* Homepage */
.blogbtn a {
  color: #fff;
  background: #fe7c09;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.3px;
  padding: 10px 20px;
}
.blogbtn a:hover{
  background: #1b1b1b;
}
.blogbtn {
  margin-top: 3%;
}
.mainimage img {
  width: 100%;    
}
.mainimage{
overflow: hidden;
}
.innerlightbox {
  padding-top: 4%;
}
#blog_post small{
	color:#6d6d6d;
	margin:0 0 20px 0;
}
#blog_post .small-button{
	margin-top:30px;
}
#blog_post .page-box,.postbox{
	color:rgba(74, 69, 69, 0.75);
	padding:15px;
	margin: 0 0 4% 0;
	box-shadow: 0 0 15px 3px #bbb;
}
#blog_post .page-box p{
	font-size:15px;
	margin:0;
	line-height: 25px;
}
#blog_post .box-image{
	margin:0;
}
#blog_post .services-box{
	margin:40px 0 20px 0;
}
img.alignnone.wp-image-755.size-large {
  width: 100%;	
}

/* Footer Section */
.footerinner {
  width: 100%;
}
.footerinner .widget {
  padding: 5% 0;
}
#footer{
	background: #000;
	color:#fff;
	padding:0;
	text-align:left;
    clear:both;
}
#footer a.rsswidget{
  color: #fff;
}
#footer h3 {
  text-align: left;
  font-size: 26px;
  color: #fff;
  font-weight: 600;
}
#footer p {
  font-size: 16px;
  margin: 0;
}
.copyright.text-center p {
    color: #fff;
}
#footer .news-form{
	margin-top:24px;
}
#footer input[type="text"]{
  width:60%;
	padding:8px 5%;
	float:left;
	margin-right:2%;
	border-radius:5px;
}
#footer input[type="submit"]{
  width:35%;
	padding:11px 2%;
	float:right;
	border:none;
	background:#fe7c09;
	margin:0;
}
#footer .search-field {
  width: 59%;
  padding: 10px 5px;
}
#footer label {
  display: inline;
}
#footer form.search-form{
	text-align: left;
}
.copyright a {
  color: #fff;
}
.inner {
  padding: 16px;
  border-top: 1px solid;
}
.footerinner ul {
  margin: 0;
}
.footerinner ul li {
  list-style: none;
  padding: 6px 0;
  letter-spacing: 1px;
  font-size: 10px;
}
.footerinner ul li a {
  color: #fff;
  font-size: 13px;
}
.footerinner ul li a:hover{
  color: #fe7c09;
}
#sidebar select,.footerinner select {
  padding: 10px;
  color: #000;
}
.textwidget {
  padding: 15px;
}
.footerinner .tagcloud a{
 	border: solid 1px #fff;
  color: #fff;
  font-size: 15px !important;
  padding: 5px 18px;
  margin: 0 0 5px;
  display: inline-block;
}
.footerinner .tagcloud a:hover{
  background: #fe7c09;
}

/* Woocommerce */
.woocommerce-message::before{
  color: #fe7c09;
}
.woocommerce-message{
  border-color: #fe7c09;
}
.woocommerce #sidebar {
    margin: 5% 0;
}
select.orderby {
  padding: 10px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product p {
  line-height: 1.5;
  font-size: 16px;
}
.woocommerce span.onsale{
  background: #fe7c09;
  padding: 0;
}
#featured-product .products li {
  padding: 10px !important;
  width: 23% !important;
  text-align: center;
  margin: 0px 2% 2.992em 0 !important;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000;
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #fe7c09;
  color: #fff;
  border-radius: 0;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #000;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 5px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #fe7c09;
  padding: 12px;
  margin-bottom: 10px;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  text-align: center;
}
span.woocommerce-input-wrapper {
  width: 100%;
}

/* --------- Bradcrumbs --------- */
.bradcrumbs a {
  background: #1b1b1b;
  color: #fff;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}
.bradcrumbs a:hover{
	background:#999999;
}
.bradcrumbs span{
	background:#dddddd;
	color:#000;
	padding:5px 15px;
}

/* Comments BOX */
#comments{
	margin-top:40px;
}
#comments h2.comments-title{
	font-size:20px;
	font-weight:bold;
	border-top:2px dotted #7e7e7e;
	padding:40px 0 0 0;
}
#comments h3.comment-reply-title{
	font-size:20px;
	font-weight:bold;
}
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
	padding:12px 10px;
	font-size:18px;
	margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
	background: #000  !important ;
	padding:10px 20px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:20px;
	border:none;
}
#comments a.comment-reply-link{
	color:#000;
	background:#cecece;
	padding:5px 15px;
}
#comments a.comment-reply-link:hover{
	background:#1b1b1b;
}
#comments a time{
	color:#000;
	font-weight:bold;
	font-size:12px;
}
#wrapper #comments ol.children li{
	list-style: none;
}
#wrapper #comments ol li{
	background:none;
	margin: 0 0 20px;
	padding: 20px;
	background:#eee;
}
#wrapper #comments ul{
	margin:0 0 0 40px;
}
#comments .reply{
	float:right;
}
#comments .comment-author{
	width:100%;
	clear:both;
}
#comments .comment-metadata{
	width:90%;
	float:left;
}
#comments .comment-content{
	width:90%;
	float:left;
	margin-left:7%;
}
#comments p {
	width:90%;
	float:none;
}

/* Sidebar */
#sidebar aside, #sidebar .social_widget {
  border: 1px solid #eeeeee;
}
#sidebar .widget,
#sidebar .social_widget {
  padding: 10px;
  background: #fff;
}

#sidebar .social_widget {
  padding: 15px;
  text-align: center;
}
#sidebar .social_widget i {
  width: 100px;
  text-align: center;
  height: 100px;
  color: #fff;
  padding: 18% 0;
  background: skyblue;
  font-size: 20px;
  margin-bottom: 5px;
}
#sidebar .social_widget i:hover{
 background: #1e1d24;
 color: #fff;
}
#sidebar .social_widget i.fab.fa-facebook-f{
  background: #3B5998;
}
#sidebar .social_widget i.fab.fa-twitter{
  background: #55ACEE;
}
#sidebar .social_widget i.fab.fa-google-plus-g{
  background: #dd4b39;
}
#sidebar .social_widget i.fab.fa-linkedin-in{
  background: #007bb5;
}
#sidebar .social_widget i.fab.fa-pinterest-p{
  background: #cb2027;
}
#sidebar .social_widget i.fab.fa-tumblr{
  background: #2c4762;
}
#sidebar .social_widget i.fab.fa-instagram{
  background: #125688;
}
#sidebar .social_widget i.fab.fa-youtube{
  background: #bb0000;
}
#sidebar form{
 	display: table;
	width: 100%;
}
#sidebar h3 {
  margin: 0 0 5px;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fe7c09;
  border-bottom: 1px solid;
}
#sidebar input[type="search"] {
	padding:9px 10px;
	border:none;
	font-size:15px;
	color:#000;
	font-weight: normal;
	width:100%;
  background: #fff;
}
#sidebar label{
	width:70%;
	float:left;
	margin-bottom: 0px; 
}
#sidebar input[type="submit"]{
  background: #fe7c09;
  border: none;
  color: #fff;
  padding: 11px 0;
  width: 30%;
  font-size: 12px;
  font-weight: normal;
  float: left;
  margin: 0;
  border-radius: 0;
}
#sidebar aside,
#wrapper {
  margin-bottom: 30px;
} 
#sidebar ul {
	list-style:none;
	margin:0;
	padding:0;
	font-size:16px;
}
#sidebar ul li {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}
#sidebar ul li a {
  font-size: 13px;
  color: #242424;    
  font-weight: bold;
}
#sidebar ul li a:hover{
	color:#fe7c09;
}
#sidebar .tagcloud a{
	background:#eeeeee;
	color:#000;
	font-size:15px !important;
	padding:5px 18px;
	margin:0 0 5px;
	display:inline-block;
}
#sidebar .tagcloud a:hover{
	background:#fe7c09;
	color: #fff;
}

/* Page */
iframe {
  width: 100%;
}
.notfound {
  padding: 3% 0;
  text-align: center;
}
.title-box h1{  
  font-weight:bold;
  text-transform:uppercase;
}
.single .title-box{
	background-size:100% auto;
}
#wrapper {
  padding: 15px;
}
#wrapper h1 {
  padding: 5px 0;
  font-weight: bold;
  margin: 10px 0;
  color: #1b1b1b;
}
#wrapper p{
	line-height: 25px;
	font-size: 16px;
}
#wrapper hr{
	border:none;
	border-bottom:1px solid #e4e4e4;
	margin:35px 0;
	clear:both;
}
#wrapper h2{
	font-size:40px;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000;
	margin:0 0 25px;
}
#wrapper h3{
	font-size:36px;
	font-weight:normal;
	margin:0;
	padding:0;
	color:#000;
	margin:0 0 25px;
}
#wrapper h4{
	font-size:20px;
	font-weight:bold;
	margin:0;
	padding:0;
	color:#333;
	margin:0 0 25px;
}
#wrapper ul{
	margin:0 0 0 10px;
	font-size:16px;
}
#wrapper ul li{
	line-height:25px;
}
#wrapper ol{
	margin:0 0 0 15px;
	font-size:16px;
	counter-reset: myCounter;
}
#wrapper ol li{
	padding:0 0 0 0;
}

/* Pagination */
.pagination {
	clear:both;
	position:relative;
	font-size:14px;
	line-height:13px;
	float:right;
} 
.pagination span,
.pagination a {
	display:block;
  float:left;
  margin: 2px 2px 2px 0;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#242424;
  border: 1px solid #1b1b1b;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
	color:#fff;
  background: #1b1b1b;
} 
.pagination .current {
  padding: 10px 15px;
  color: #fff;
  background: #fe7c09;
  border: 1px solid #1b1b1b;
}

/* ------------Navigation Links------------*/
.nav-next, .nav-previous {
  float: left;
  width: 50%;
}
span.meta-nav {
  clear: both;
  font-size: 18px;
  color: #000;
}
span.post-title {
  font-size: 20px;
  margin: 4%;
  font-weight: 400;
  line-height: 26px;
}

/* Media Css*/
@media screen and (max-width: 720px) and (min-width: 320px){
	ol.children {
    margin: 0 !important;
	}
	ol.children img {
    width: 30px;
    border: solid 1px;
	}
	#comments .reply {
		float: left !important;
		margin-bottom: 5%;
	}
	#wrapper #comments ol li{
		padding:0 !important;
	}
	#wrapper h2 {
    font-size: 30px !important;
	}
  hr.hr-border {
    width: 35%;
    margin: 0 32%;
  }
  form.woocommerce-product-search button[type="submit"]{
    padding: 10px 42px;
  }
  span.cart_no a img {
    padding: 35px 47%;
  }
  span.cart-value{
    right: 45%;
  }
  button.product-btn{
    border-top: 1px solid #878787;
    border-left: none;
  }
  .contact-details,
  .top .social_widget,
  .login,
  .logo{
    text-align: center;
  }
  #sidebar .social_widget i {
    width: 85px;
    height: 90px;
    padding: 10% 0;
  }
  form.woocommerce-product-search button[type="submit"]{
    left: 16px;
  }
  #header .nav ul{
    margin: 0;
  }
  .text .know-btn {
    float: right;
    margin-right: -10px;
    margin-top: -32px;
  }
  .text h5{
    text-align: left;
  }
  #categry .text-content{
    top: 75%;
    transform: translateY(-25%);
    right: 0;
  }
  #categry .text-content p{
    display: none;
  }
  #categry .meta-box span.entry-date, #categry .meta-box span.entry-time{
    padding: 0 4px;
  }
  #categry .meta-box span.entry-date i, #categry .meta-box span.entry-time i{
    padding-right: 8px;
  }
}
@media screen and (min-width:720px){
	#header .nav ul li ul{
	 	display:none;
		z-index:2;
		font-weight:normal;
		margin: 0px;
	}
	#header .nav ul li:hover > ul{
	 	display:block;
		background: #fff;
		width:200px;
		position:absolute;
		top: 45px;
		left:0;
		text-align:left;
		z-index:99;
  }
	#header .nav ul li:hover > ul li{
		display:block;
	}
	#header .nav ul li:hover > ul li a{
		padding: 10px;
		color:#fff;
    background: #000;
	}
	#header .nav ul li:hover ul li ul{
	 	display:none;
	}
	#header .nav ul li:hover ul li:hover > ul{
	 	display:block;
		position:absolute;
		left: 200px;
		top:5px;
	}
	#header .nav ul.sub-menu{
		margin-top:5px;
	}
	#header .nav ul li a{
		color: #fff;
    display: block;
	}
}
@media screen and (min-width: 720px) and (max-width:768px){
  .contact-details{
    padding: 15px 0;
  }
  .contact-details p{
    font-size: 12px;
  }
  #slider .carousel-caption{
    top:55%;
  }
  #slider .inner_carousel h2 {
    font-size: 35px;
  }
  #slider .more-btn a{
    padding: 16px;
  }
  .woocommerce .products ul, .woocommerce ul.products {
    padding: 0 1% !important;
  }
  #sidebar input[type="submit"] {
    padding: 14px 0;
    font-size: 9px;
  }
  #footer input[type="submit"] {
    padding: 15px 2%;
    font-size: 11px;
  }
  .product-cat{
    width: 150px;
  }
  span.cart-value{
    right: 7px;
  }
  #categry .text-content p{
    display: none;
  }
  #categry .meta-box span.entry-date, #categry .meta-box span.entry-time{
    padding: 0;
  }
  #categry .meta-box span.entry-date i, #categry .meta-box span.entry-time i{
    padding-right: 4px;
  }
  #categry .text-content{
    top: 75%;
    transform: translateY(-25%);
    right: 0;
  }
  #categry .meta-box a{
    font-size: 12px;
    padding: 8px;
  }
  #top-trending .trending-cat .top-tag a{
    font-size: 12px;
    padding: 6px;
  }
  #sidebar .social_widget i{
    padding: 15% 0;
    width: 55px;
    height: 55px;
  }
}
@media screen and (max-width:720px) {
	.toggle{
 		display:block;
	}
	.toggle a {
    width: 100%;
    color: #fff;
    background: url(images/mobile_nav_right.png) no-repeat right center #fe7c09;
    padding: 10px 10px;
    font-size: 16px;
  }
	.nav{
	 	display:none;
	}
	#header .nav{
		float:none;
		margin:0;
		position:absolute;
		z-index:999;
		overflow-x:hidden;
		width: 100%;
		left: 0;
	}
	#header .nav ul{
		margin-top:0;
		background-color: #2c2c2c;
	}
	#header .nav ul li{
		border-top:1px #303030 solid;
		display:block;
		float:none;
		text-align:left;
	}
	.nav ul li a{
		padding:5px 10px;
		display:block;
		color:#ffffff !important;
	}
	.nav ul li a:hover{
		color:#ff8a00;
	}
	.nav ul li ul,
	 .nav ul li ul ul{
		display:block !important;
	}
	.nav ul li ul li a:before{
		content:"\00BB \00a0";
	}
	.nav ul li ul li a{
		padding-left:20px !important;
	}
	.nav ul li ul li ul li a{
		padding-left:30px !important;
	}
}
@media screen and (min-width: 1000px) and (max-width: 1024px) {	
  span.cart-value{
    right: 25px;
  }
  .contact-details i{
    font-size: 26px;
  }
  #categry .text-content{
    top: 75%;
    transform: translateY(-25%);
  }
  #categry .meta-box span.entry-date, #categry .meta-box span.entry-time{
    padding: 0 6px;
  }
  #sidebar .social_widget i{
    width: 85px;
    height: 85px;
  }
  .text .know-btn a.blogbutton-small{
    padding:6px;
  }
}