.#{$prefix}-pagination-numeric{
    flex: 0 0 100%;
    max-width: 100%;
}
.pagination{
    text-align: center;
    .page-numbers{
        @extend %button;
        background-color: $color_black;
        color: $color_white;
    }
    .prev,
    .next{
        &.page-numbers{
            display: inline-block;
        }  
    }
    .page-numbers{
        @extend %button;
        background-color: $color_black;
        color: $color_white;
        margin-top: 30px;
        display: none;
        @include media(sm){
            display: inline-block;
        }
        &:hover{
            background-color: $color_white;
            color: $color_black;
            border-color: $color_black;
        }
        
    }
    
}
.posts-navigation{
    text-align: center;
    @include media(md){
        padding-bottom: 30px;
    }
    .nav-links{
        @extend %clearfix;
        display: flex;
        justify-content: center;
    }
    .nav-previous,
    .nav-next{
        float: none;
        width: initial;
        padding: 0 30px;
    }
    a{
        @extend %button;
        background-color: $color_black;
        color: $color_white;
       
    }
    
}
.page-links{
    text-align: center;
    font-weight: $font_semi_bold;
    margin: 15px 0 0;
    a{
        @extend %button;
        background-color: $color_black;
        color: $color_white;
        padding: 0 10px;
        height: 30px;
        line-height: 26px;
        &:hover{
            background-color: $color_white;
            color: $color_black;
            border-color: $color_black;
        }
    }
}