/*
Theme Name: Hoot Du
Author: wpHoot
Author URI: https://wphoot.com/
Theme URI: https://wphoot.com/themes/hoot-du/
Version: 2.8.0
Description: Bold dark impactful design for fast loading SEO optimized sites. Hoot Du is perfect for entertainment, magazine, news, gaming, photography, portfolio and many other niche websites. eCommerce ready for content and product sites. Translation and multi-lingual ( multiple languages ) compatible. Hoot Du uses Hootkit plugin's multiple powerful widgets to display content and comes with options for various logo, unlimited colors, display and layout options. Works out of the box with Yoast SEO plugin, Contect Form 7, Jetpack, Google Maps mappress, Page Builder and various other plugins. Theme support is available at https://wphoot.com/support/ You can also check out the theme instructions at https://wphoot.com/support/hoot-du/ and demo at https://demo.wphoot.com/hoot-du/ for a closer look.
License: GNU General Public License 3.0
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, microformats, sticky-post, theme-options, threaded-comments, translation-ready, e-commerce, entertainment, food-and-drink
Text Domain: hoot-du
*/
/**
 * -----------------------------------------------------------------------------------------------
 * PLEASE DO NOT MODIFY THIS FILE DIRECTLY UNLESS YOU KNOW WHAT YOU ARE DOING
 * 
 ** 'Additional Custom CSS' / 'Custom CSS' section in Customize Screen
 *  - This is the preferred location for small css snippets
 *  - These CSS rules are given highest priority
 *  - Your customizations remains unaffected by Theme updates (IMPORTANT!)
 *
 ** the Child Theme's stylesheet (@see http://codex.wordpress.org/Child_Themes)
 *  - This is the preferred method for heavy css modifications
 *  - It keeps all your custom changes in one place
 *  - Your customizations remains unaffected by Theme updates (IMPORTANT!)
 * -----------------------------------------------------------------------------------------------
 */
/**
 **********************************************************
 Table Of Contents
 * Reset and Normalize
 * Hoot Grid
 * Utility Classes
 * Base Typography and HTML
 * Images, WP Gallery and Objects
 * Layout
 * Header (Topbar, Header, Main Nav Menu)
 * Main #Content
 * Main #Content Singular
 * Main #Content Archives/Blog
 * Page Templates
 * Sidebars and Widgets
 * Light Slider
 * Footer
 **********************************************************
 */
/**
 * Reset and Normalize
 * Support IE8+, Safari 6+, latest Chrome,Firefox,Opera
 * normalize.css v3.0.2 | MIT License | git.io/normalize
 * ========================================================
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a,
a:active,
a:hover,
a:focus,
a:visited {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
 * Hoot Grid
 * grid sets the width, row clears the floats for containing spans
 * spans are the building blocks for content structure
 * ========================================================
 */
.hgrid {
  width: 100%;
  min-width: 320px;
  max-width: 1380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hgrid-stretch {
  width: 100%;
  min-width: 320px;
}
.hgrid:after,
.hgrid-stretch:after {
  content: "";
  display: table;
  clear: both;
}
.hgrid:after,
.hgrid-stretch:after {
  content: "";
  display: table;
  clear: both;
}
[class*="hgrid-span-"],
[class*="hcolumn-"] {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
}
[class*="hgrid-span-"].full-width,
[class*="hcolumn-"].full-width {
  padding: 0;
}
.flush-columns {
  margin: 0 -15px;
}
[class*="hcolumn-"] {
  padding: 0 15px;
}
/************* Span Widths*************/
.hgrid-span-1 {
  width: 8.33333333%;
}
.hgrid-span-2 {
  width: 16.66666667%;
}
.hgrid-span-3 {
  width: 25%;
}
.hgrid-span-4 {
  width: 33.33333333%;
}
.hgrid-span-5 {
  width: 41.66666667%;
}
.hgrid-span-6 {
  width: 50%;
}
.hgrid-span-7 {
  width: 58.33333333%;
}
.hgrid-span-8 {
  width: 66.66666667%;
}
.hgrid-span-9 {
  width: 75%;
}
.hgrid-span-10 {
  width: 83.33333333%;
}
.hgrid-span-11 {
  width: 91.66666667%;
}
.hgrid-span-12 {
  width: 100%;
}
/************* Column Widths *************/
.hcolumn-1-1,
.hcolumn-2-2,
.hcolumn-3-3,
.hcolumn-4-4,
.hcolumn-5-5 {
  width: 100%;
}
.hcolumn-1-2 {
  width: 50%;
}
.hcolumn-1-3 {
  width: 33.33333333%;
}
.hcolumn-2-3 {
  width: 66.66666667%;
}
.hcolumn-1-4 {
  width: 25%;
}
.hcolumn-2-4 {
  width: 50%;
}
.hcolumn-3-4 {
  width: 75%;
}
.hcolumn-1-5 {
  width: 20%;
}
.hcolumn-2-5 {
  width: 40%;
}
.hcolumn-3-5 {
  width: 60%;
}
.hcolumn-4-5 {
  width: 80%;
}
/************* Responsive Grid *************/
@media only screen and (max-width: 1200px) {
  [class*="hgrid-span-"],
  [class*="hcolumn-"] {
    padding: 0 10px;
  }
  .flush-columns {
    margin: 0;
  }
  .adaptive .hcolumn-1-5 {
    width: 40%;
  }
  .adaptive .hcolumn-1-4 {
    width: 50%;
  }
  .adaptive .hgrid-span-1 {
    width: 16.66666667%;
  }
  .adaptive .hgrid-span-2 {
    width: 33.33333333%;
  }
  .adaptive .hgrid-span-6 {
    width: 50%;
  }
}
@media only screen and (max-width: 969px) {
  [class*="hgrid-span-"],
  .adaptive [class*="hgrid-span-"],
  [class*="hcolumn-"],
  .adaptive [class*="hcolumn-"] {
    width: 100%;
  }
}
@media only screen and (min-width: 970px) {
  .hcol-first {
    padding-left: 0;
  }
  .hcol-last {
    padding-right: 0;
  }
}
/**
 * Utility Classes
 * ========================================================
 */
/************* Misc *************/
#page-wrapper .flush {
  margin: 0;
  padding: 0;
}
/************* Displays *************/
.hide {
  display: none;
}
.forcehide {
  display: none !important;
}
.border-box {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/************* Image replacement *************/
.hide-text {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
  width: 0;
  height: 0;
  overflow: hidden;
}
/************* Table *************/
.table {
  display: table;
  width: 100%;
  margin: 0;
}
.table.table-fixed {
  table-layout: fixed;
}
.table-cell {
  display: table-cell;
}
.table-cell-mid {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 969px) {
  .table,
  .table-cell,
  .table-cell-mid {
    display: block;
  }
}
/************* Floats *************/
.fleft,
.float-left {
  float: left;
}
.fright,
.float-right {
  float: right;
}
.fclear:after,
.float-clear:after,
.clear:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/************* Accessibility: Assistive Text *************/
/* for screen readers and text browsers */
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
/**
 * Base Typography and HTML
 * ========================================================
 */
body {
  position: relative;
}
/************* Default Typography *************/
body {
  text-align: left;
  font-size: 15px;
  line-height: 1.6em;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #444;
  -webkit-font-smoothing: antialiased;
  /* for better webkit rendering */
  -webkit-text-size-adjust: 100%;
  /* size in percentage at which to display text in Safari on iPhone */
}
/************* Headings *************/
h1,
h2,
h3,
h4,
h5,
h6,
.title {
  line-height: 1.33333333em;
  font-family: "Patua One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
  margin: 25px 0 15px;
  text-rendering: optimizelegibility;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 1.93333333em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.66666667em;
}
h4 {
  font-size: 1.53333333em;
}
h5 {
  font-size: 1.26666667em;
}
h6 {
  font-size: 1.13333333em;
}
.title {
  font-size: 1.66666667em;
}
.title h1,
.title h2,
.title h3,
.title h4,
.title h5,
.title h6 {
  font-size: inherit;
}
.titlefont {
  font-family: "Patua One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
/************* Basic HTML Tags *************/
p {
  margin: 0.66666667em 0 1em;
}
hr {
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.66666667em 0 1em;
  height: 0;
  color: #ddd;
}
em,
var {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
big,
.big-font {
  font-size: 1.33333333em;
  line-height: 1.3em;
}
.huge-font {
  font-size: 2.33333333em;
  line-height: 1em;
}
.medium-font {
  font-size: 1.06666667em;
  line-height: 1.5625em;
}
small,
cite,
.small,
.small-font {
  font-size: 0.86666667em;
  line-height: 1.25em;
}
cite {
  font-style: italic;
}
q {
  font-style: italic;
}
q:before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
address {
  display: block;
  margin: 1em 0;
  font-style: normal;
  border: 1px dotted;
  padding: 1px 5px;
}
abbr[title],
acronym[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
/************* Blockquote *************/
blockquote {
  border-color: #aaa;
  border-left: 5px solid;
  padding: 0 0 0 1em;
  margin: 1em 1.66666667em;
  margin-left: 5px;
  display: block;
  font-style: italic;
  color: #999;
  font-size: 1.13333333em;
  clear: both;
  text-align: justify;
}
blockquote p {
  margin: 0;
}
blockquote small,
blockquote cite {
  display: block;
  line-height: 1.6em;
  text-align: right;
  margin-top: 3px;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote cite:before {
  content: "\2014 \0020";
  padding: 0px 3px;
}
blockquote.pull-left {
  text-align: left;
  float: left;
}
blockquote.pull-right {
  border-right: 5px solid;
  border-left: 0;
  padding: 0 1em 0 0;
  margin: 1em 1.66666667em;
  margin-right: 5px;
  text-align: right;
  float: right;
}
/*** Blockquotes Responsive ***/
@media only screen and (max-width: 969px) {
  blockquote.pull-left,
  blockquote.pull-right {
    float: none;
  }
}
/************* Links *************/
a {
  color: #f85658;
  text-decoration: none;
}
a,
a i {
  -webkit-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  -moz-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  -o-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
}
a.linkstyle,
.linkstyle a {
  text-decoration: underline;
}
h1 a.linkstyle,
.linkstyle h1 a,
h2 a.linkstyle,
.linkstyle h2 a,
h3 a.linkstyle,
.linkstyle h3 a,
h4 a.linkstyle,
.linkstyle h4 a,
h5 a.linkstyle,
.linkstyle h5 a,
h6 a.linkstyle,
.linkstyle h6 a,
.title a.linkstyle,
.linkstyle .title a,
.titlefont a.linkstyle,
.linkstyle .titlefont a {
  text-decoration: none;
}
/************* Typo Schemes *************/
.accent-typo {
  background: #f85658;
  color: #ffffff;
}
.invert-typo {
  background: #444;
  color: #fff;
}
.enforce-typo {
  background: #fff;
  color: #444;
}
.page-wrapper .accent-typo a:not(input):not(.button),
.page-wrapper .invert-typo a:not(input):not(.button),
.page-wrapper .enforce-typo a:not(input):not(.button),
.page-wrapper .contrast-typo a:not(input):not(.button),
.page-wrapper .accent-typo a:hover:not(input):not(.button),
.page-wrapper .invert-typo a:hover:not(input):not(.button),
.page-wrapper .enforce-typo a:hover:not(input):not(.button),
.page-wrapper .contrast-typo a:hover:not(input):not(.button),
.page-wrapper .accent-typo h1,
.page-wrapper .invert-typo h1,
.page-wrapper .enforce-typo h1,
.page-wrapper .contrast-typo h1,
.page-wrapper .accent-typo h2,
.page-wrapper .invert-typo h2,
.page-wrapper .enforce-typo h2,
.page-wrapper .contrast-typo h2,
.page-wrapper .accent-typo h3,
.page-wrapper .invert-typo h3,
.page-wrapper .enforce-typo h3,
.page-wrapper .contrast-typo h3,
.page-wrapper .accent-typo h4,
.page-wrapper .invert-typo h4,
.page-wrapper .enforce-typo h4,
.page-wrapper .contrast-typo h4,
.page-wrapper .accent-typo h5,
.page-wrapper .invert-typo h5,
.page-wrapper .enforce-typo h5,
.page-wrapper .contrast-typo h5,
.page-wrapper .accent-typo h6,
.page-wrapper .invert-typo h6,
.page-wrapper .enforce-typo h6,
.page-wrapper .contrast-typo h6,
.page-wrapper .accent-typo .title,
.page-wrapper .invert-typo .title,
.page-wrapper .enforce-typo .title,
.page-wrapper .contrast-typo .title,
.page-wrapper .accent-typo .entry-byline,
.page-wrapper .invert-typo .entry-byline,
.page-wrapper .enforce-typo .entry-byline,
.page-wrapper .contrast-typo .entry-byline {
  color: inherit;
}
.enforce-body-font {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.highlight-typo {
  background: #f5f5f5;
}
.contrast-typo {
  background: #222;
  color: #fff;
}
/************* Code, Pre, Keyboard, Teletype *************/
code,
pre,
kbd,
tt {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
pre {
  overflow-x: auto;
}
code,
kbd,
tt {
  padding: 2px 5px;
  margin: 0 5px;
  border: dashed 1px;
}
pre {
  display: block;
  padding: 5px 10px;
  margin: 1em 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
pre.scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
/************* Lists *************/
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none outside;
}
ul ol,
ul ul,
ol ol,
ol ul {
  margin-left: 10px;
}
li {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  /* display: inline; */
}
ul.unstyled,
ol.unstyled {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none outside !important;
}
.main ul,
.main ol {
  margin: 1em;
  margin-right: 0;
}
.main ol {
  list-style: decimal outside;
}
.main ul,
.main ul.disc {
  list-style: disc outside;
}
.main ul.square {
  list-style: square outside;
}
.main ul.circle {
  list-style: circle outside;
}
.main ul ul,
.main ol ul {
  list-style-type: circle;
}
.main ul ul ul,
.main ul ol ul,
.main ol ul ul,
.main ol ol ul {
  list-style-type: square;
}
.main ul ol,
.main ol ol {
  list-style-type: lower-alpha;
}
.main ul ul ol,
.main ul ol ol,
.main ol ul ol,
.main ol ol ol {
  list-style-type: lower-roman;
}
.main ul ul,
.main ul ol,
.main ol ol,
.main ol ul {
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
}
.main li {
  margin-right: 0;
  display: list-item;
}
.borderlist > li:first-child {
  border-top: 1px solid;
}
.borderlist > li {
  border-bottom: 1px solid;
  padding: 0.15em 0;
  list-style-position: outside;
}
/************* Lists - Definitions *************/
dl {
  margin: 0.66666667em 0;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0.66666667em;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 12.3em;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 13.8em;
}
/*** Responsive Definitions ***/
@media only screen and (max-width: 969px) {
  .dl-horizontal dt {
    float: none;
    width: auto;
    clear: none;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-left: 0;
  }
}
/************* Tables *************/
table {
  width: 100%;
  padding: 0;
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  padding: 5px 0;
  width: auto;
  font-style: italic;
  text-align: right;
}
th {
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 6px 6px 6px 12px;
}
th.nobg {
  background: none;
}
td {
  padding: 6px 6px 6px 12px;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f5f5f5;
}
/************* Forms *************/
form {
  margin-bottom: 1em;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  color: #666;
  font-weight: bold;
}
legend small {
  color: #666;
}
label,
input,
select,
textarea {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4em;
}
label {
  display: inline-block;
  font-weight: bold;
}
.input-text,
textarea,
select,
input[type="text"],
input[type="input"],
input[type="password"],
input[type="email"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  padding: 6px 8px;
  outline: none;
  color: #666;
  margin: 0;
  max-width: 100%;
  display: inline-block;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.input-text:focus,
textarea:focus,
input[type="text"]:focus,
input[type="input"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border: 1px solid #aaaaaa;
  color: #555555;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
input[type="checkbox"] {
  display: inline;
}
input[type="radio"],
input[type="checkbox"] {
  line-height: normal;
  cursor: pointer;
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
}
textarea {
  height: auto;
  min-height: 60px;
}
select {
  width: 215px;
  background: #fff url('images/select.png') no-repeat center right;
}
select[multiple],
select[size] {
  height: auto;
}
/*** Special ***/
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}
/*** Buttons Default ***/
body.wordpress input[type="submit"],
body.wordpress #submit,
body.wordpress .button,
body.wordpress button {
  outline: none;
}
body.wordpress input[type="submit"],
body.wordpress #submit,
body.wordpress .button {
  background: #f85658;
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s linear, box-shadow linear 0.2s;
  -moz-transition: color 0.2s ease-in, background-color 0.2s linear, box-shadow linear 0.2s;
  -o-transition: color 0.2s ease-in, background-color 0.2s linear, box-shadow linear 0.2s;
  transition: color 0.2s ease-in, background-color 0.2s linear, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
}
body.wordpress input[type="submit"]:hover,
body.wordpress #submit:hover,
body.wordpress .button:hover {
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  background: #e74547;
  color: #ffffff;
}
body.wordpress input[type="submit"]:active,
body.wordpress #submit:active,
body.wordpress .button:active {
  -webkit-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.33);
}
body.wordpress input[type="submit"].aligncenter,
body.wordpress #submit.aligncenter,
body.wordpress .button.aligncenter {
  max-width: 60%;
}
body.wordpress #submit a,
body.wordpress .button a {
  color: inherit;
}
/*** Button Sizes ***/
input[type="submit"],
#submit,
.button,
input[type="submit"].button-small,
#submit.button-small,
.button-small {
  padding: 8px 25px 10px;
  line-height: 1.384615em;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px rgba(0, 0, 0, 0.15);
}
input[type="submit"].button-medium,
#submit.button-medium,
.button-medium {
  padding: 10px 30px 12px;
  font-size: 1.06666667em;
  line-height: 1.333333em;
}
input[type="submit"].button-large,
#submit.button-large,
.button-large {
  padding: 14px 35px 16px;
  font-size: 1.33333333em;
  line-height: 1.333333em;
}
/**
 * Images, WP Gallery and Objects
 * ========================================================
 */
/************* Objects *************/
iframe,
video,
object,
embed {
  max-width: 100%;
  margin: 1em 0;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure {
  margin: 0;
  max-width: 100%;
}
/************* Images *************/
img,
a img {
  border: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
  image-rendering: optimizeQuality;
  vertical-align: top;
}
img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* to accomodate border and padding width, and maintain responsive */
}
/************* Image Styles *************/
.img-round {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.img-circle {
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  border-radius: 1500px;
}
.img-polaroid {
  padding: 4px;
  border: 1px solid;
}
.img-frame {
  padding: 4px;
  border: 1px solid;
}
.img-noborder img,
img.img-noborder {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}
/************* WP editor image sizes ($content_width classes) *************/
/************* WordPress Gallery *************/
.gallery {
  background: #f5f5f5;
  padding: 10px;
  margin: 1em 0;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 0;
}
.gallery-icon img {
  width: 100%;
}
.gallery-item a img {
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.gallery-item a:hover img,
.gallery-item a:focus img {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
/** Sizes **/
.gallery-columns-1 .gallery-item {
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  width: 50%;
}
.gallery-columns-3 .gallery-item {
  width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  width: 25%;
}
.gallery-columns-5 .gallery-item {
  width: 20%;
}
.gallery-columns-6 .gallery-item {
  width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  width: 11.11%;
}
/** Block Editor **/
ul.wp-block-gallery {
  background: #f5f5f5;
  padding: 16px 16px 0;
  margin: 1em 0;
}
/*** Responsive Gallery ***/
@media only screen and (max-width: 969px) {
  .gallery {
    text-align: center;
  }
  .gallery-icon img {
    width: auto;
  }
  .gallery-columns-5 .gallery-caption,
  .gallery-columns-6 .gallery-caption,
  .gallery-columns-7 .gallery-caption,
  .gallery-columns-8 .gallery-caption,
  .gallery-columns-9 .gallery-caption {
    display: block;
  }
  .gallery .gallery-item {
    width: auto;
  }
}
/************* WordPress Image Captions *************/
.wp-caption-text,
.wp-block-image figcaption {
  background: rgba(0, 0, 0, 0.03);
  margin: 0;
  padding: 5px;
  font-size: 0.86666667em;
  line-height: 1.25em;
  text-align: center;
}
/************* WordPress Image Alignment *************/
.aligncenter {
  clear: both;
  display: block;
  margin: 1em auto;
  text-align: center;
}
img.aligncenter {
  margin: 1em auto;
}
.alignleft {
  float: left;
  margin: 10px 1.66666667em 5px 0;
  display: block;
}
.alignright {
  float: right;
  margin: 10px 0 5px 1.66666667em;
  display: block;
}
.alignleft img,
.alignright img {
  display: block;
}
/************* Avatar *************/
.avatar {
  display: inline-block;
}
.avatar.pull-left {
  float: left;
  margin: 0 1em 5px 0;
}
.avatar.pull-right {
  float: right;
  margin: 0 0 5px 1em;
}
/**
 * Layout
 * ========================================================
 */
body {
  background: #222;
}
@media screen and (max-width: 600px) {
  body.logged-in.admin-bar {
    position: static;
  }
}
#page-wrapper {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#topbar,
#below-header,
#sub-footer,
#footer {
  overflow: hidden;
}
.site-boxed #header-supplementary,
.site-boxed #below-header,
.site-boxed #main {
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-color: rgba(0, 0, 0, 0.33);
}
/* Sidebar and Content Layout */
.content.no-sidebar {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 970px) {
  .content.layout-wide-left,
  .content.layout-narrow-left {
    float: right;
  }
  /*
	 * We only apply flex model (with wrap) to 2/3 column layout (not to fullwidth) to prevent:
	 * Frontpage=> full width layout leads to <div class="hgrid-stretch main-content-grid">
	 * HTML slider inside hgrid-stretch becomes way tooo wide and distorts layout
	 * (slider js does not get the actual screen width hence set ul.lightSlider width to sum all slide widths)
	 * flex model should be applied to some bounding box like 'hgrid' (max-width set to pixel value 1260),
	 * or all its child elements should have a bounding box like 'hgrid' with margin left/right set to auto
	 * So we apply flex model only to layouts where we know for a fact that hgrid-stretch wont be used.
	*/
  .sitewrap-narrow-left-right .main-content-grid,
  .sitewrap-narrow-left-left .main-content-grid,
  .sitewrap-narrow-right-right .main-content-grid {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sitewrap-narrow-left-right .sidebar-primary,
  .sitewrap-narrow-left-left .sidebar-primary,
  .sitewrap-narrow-right-right .content {
    -webkit-order: 1;
    order: 1;
  }
  .sitewrap-narrow-left-right .content,
  .sitewrap-narrow-left-left .sidebar-secondary,
  .sitewrap-narrow-right-right .sidebar-primary {
    -webkit-order: 2;
    order: 2;
  }
  .sitewrap-narrow-left-right .sidebar-secondary,
  .sitewrap-narrow-left-left .content,
  .sitewrap-narrow-right-right .sidebar-secondary {
    -webkit-order: 3;
    order: 3;
  }
}
/**
 * Header (Topbar, Header, Main Nav Menu)
 * ========================================================
 */
/************* Topbar *************/
#topbar {
  background: none;
  font-size: 0.86666667em;
  line-height: 1.25em;
}
#topbar ul,
#topbar ol,
#topbar li {
  display: inline;
}
#topbar h1,
#topbar h2,
#topbar h3,
#topbar h4,
#topbar h5,
#topbar h6,
#topbar .title {
  /* color: inherit; */
  margin: 0;
}
.topbar-inner a,
.topbar-inner a:hover {
  color: inherit;
}
#topbar-left {
  text-align: left;
}
#topbar-right {
  text-align: right;
}
#topbar-center {
  text-align: center;
}
/*** Topbar Widgets ***/
#topbar .widget {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
}
#topbar .widget-title {
  display: none;
  margin: 0;
  font-size: 15px;
  line-height: 1.6em;
}
#topbar .widget_text {
  margin: 0 5px;
}
#topbar .widget_text p {
  margin: 2px;
}
#topbar .widget_tag_cloud a {
  text-decoration: none;
}
#topbar .widget_nav_menu {
  margin: 5px;
}
#topbar .widget_search {
  margin: 0 5px;
}
/*** Responsive Topbar ***/
@media only screen and (max-width: 969px) {
  #topbar-left {
    text-align: center;
    margin: 0 -10px;
  }
  #topbar-right {
    text-align: center;
    margin: 0 -10px;
  }
}
/************* Header Layout *************/
#header {
  position: relative;
}
#header-primary {
  background: none;
}
.header-primary-none {
  text-align: center;
}
.header-primary-search {
  text-align: center;
}
.header-primary-custom > div > .table {
  table-layout: fixed;
}
#header-aside {
  text-align: right;
}
.header-primary-custom #header-aside {
  font-size: 0.86666667em;
  line-height: 1.25em;
}
#header-supplementary {
  border-top: solid 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
}
.header-supplementary-left.menu-side-none {
  text-align: left;
}
.header-supplementary-right.menu-side-none {
  text-align: right;
}
.header-supplementary-center.menu-side-none {
  text-align: center;
}
.menu-side .table {
  table-layout: auto;
}
div.menu-side-box {
  font-size: 0.86666667em;
  line-height: 1.25em;
  text-align: right;
  position: relative;
  min-width: 200px;
}
div.menu-side-box .widget {
  margin: 0 5px;
  display: inline-block;
  vertical-align: middle;
}
div.menu-side-box.inline-nav a {
  color: inherit;
}
div.menu-side-box .widget_search,
div.menu-side-box .searchform {
  position: static;
}
/*** Search ***/
/* Override specific .js-search css */
.header-primary-search #branding {
  width: 100%;
}
.header-aside-search.js-search {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -26px;
}
.header-aside-search.js-search .searchform i.fa-search {
  color: #f85658;
  padding: 14px 25px 14px 20px;
}
.header-aside-search.js-search .js-search-placeholder:before {
  right: 30px;
  top: 50%;
  margin-top: -26px;
  padding: 10px 25px 15px 20px;
}
.header-aside-search.js-search.hasexpand {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}
/*** Responsive Header ***/
@media only screen and (max-width: 969px) {
  #header .table,
  #header #branding,
  #header #header-aside {
    width: 100%;
  }
  #header-primary,
  #header-aside,
  #header-supplementary {
    text-align: center;
  }
  #header .hgrid-span-12 {
    padding: 0;
  }
  #header-supplementary.header-supplementary-mobilemenu-fixed {
    border-bottom: none;
  }
  .header-aside {
    border-top: solid 1px #444444;
  }
  .header-aside-menu-fixed {
    border-top: none;
  }
  .header-aside-search.js-search {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 0;
  }
  .header-aside-search.js-search .searchform i.fa-search {
    position: absolute;
    left: 0.45em;
    top: 50%;
    margin-top: -0.65em;
    padding: 0;
    cursor: auto;
  }
  .header-aside-search.js-search .searchform i.fa-search:after {
    display: none;
  }
  .header-aside-search.js-search .searchform input.searchtext {
    display: block;
    padding-right: 1.2em;
    padding-left: 2.7em;
  }
  .header-aside-search.js-search .searchform.expand i.fa-search {
    display: block;
  }
  .header-aside-search.js-search .searchform.expand .searchtext {
    position: static;
    background: none;
    color: inherit;
    font-size: 1em;
  }
  .header-aside-search.js-search .searchform.expand .js-search-placeholder {
    display: none;
  }
  div.menu-side-box {
    text-align: center;
    padding: 8px 0;
    border-bottom: solid 1px #444444;
  }
}
/************* Logo *************/
#site-logo {
  margin: 23px 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}
.header-primary-menu #site-logo,
.header-primary-custom #site-logo {
  padding-right: 15px;
}
#site-logo.with-background {
  padding: 15px;
}
#site-logo img {
  max-height: 600px;
}
/*** Logo Types ***/
/* Text Logo */
#site-title {
  font-family: "Patua One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 1em;
  vertical-align: middle;
  word-wrap: normal;
}
#site-title a {
  color: inherit;
}
#site-title a:hover {
  text-decoration: none;
}
#site-logo.accent-typo #site-title,
#site-logo.accent-typo #site-description {
  color: inherit;
}
#site-description {
  margin: 0;
  font-family: inherit;
  font-size: 1.06666667em;
  line-height: 1.5625em;
  line-height: 1em;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: middle;
}
.site-logo-text-tiny #site-title {
  font-size: 20px;
}
.site-logo-text-small #site-title {
  font-size: 40px;
}
.site-logo-text-large #site-title {
  font-size: 80px;
}
.site-logo-text-huge #site-title {
  font-size: 110px;
}
/* Logo with Icon (Text Logo / Custom Logo) */
.site-logo-with-icon #site-title {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  padding-left: 5px;
}
.site-logo-with-icon #site-title i {
  font-size: 50px;
  width: 1em;
  position: absolute;
  left: -1em;
}
#site-logo-text i {
  line-height: inherit;
}
/* Image Logo */
.site-logo-image img.custom-logo {
  display: block;
  width: auto;
}
/* Logo with Image (Mixed / Mixedcustom) */
.site-logo-with-image {
  display: table;
  table-layout: fixed;
}
.site-logo-with-image .site-logo-mixed-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
}
.site-logo-with-image .site-logo-mixed-image img {
  vertical-align: middle;
}
.site-logo-with-image .site-logo-mixed-text {
  display: table-cell;
  vertical-align: middle;
}
/* Custom Text */
.site-title-line {
  display: block;
  line-height: 1em;
}
.site-title-line em {
  color: #f85658;
  font-weight: inherit;
  font-style: inherit;
}
.site-title-line b,
.site-title-line strong {
  font-weight: bold;
  font-weight: 800;
}
.site-title-body-font {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.site-title-heading-font {
  font-family: "Patua One", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*** Responsive Logo ***/
@media only screen and (max-width: 969px) {
  #site-logo {
    display: block;
  }
  #header-primary #site-logo {
    padding-right: 0;
    padding-left: 0;
  }
  #header-primary #site-logo.with-background {
    margin: 0;
  }
  #page-wrapper #site-title,
  #page-wrapper #site-description {
    text-align: center;
    margin: 0;
    display: block;
  }
  .site-logo-with-icon #site-title {
    padding: 0;
  }
  .site-logo-with-icon #site-title > a {
    position: relative;
    left: 0.5em;
    display: inline-block;
    max-width: 75%;
  }
  .site-logo-with-icon #site-title i {
    left: -1.1em;
  }
  #header-primary #site-logo.site-logo-image {
    padding: 15px;
    margin: 0;
  }
  .site-logo-with-image {
    display: block;
    text-align: center;
  }
  .site-logo-with-image .site-logo-mixed-image {
    margin: 0 auto 10px;
  }
  .site-logo-with-image .site-logo-mixed-image,
  .site-logo-with-image .site-logo-mixed-text {
    display: block;
    padding: 0;
  }
}
/************* Nav Menus *************/
.menu-items {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  /* Current & Hover */
  /* Title & Description */
  /* Submenu */
}
.menu-items a {
  display: block;
  position: relative;
}
.menu-items ol,
.menu-items ul {
  margin-left: 0;
}
.menu-items li {
  margin-right: 0;
  display: list-item;
  position: relative;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.menu-items > li {
  float: left;
  vertical-align: middle;
}
.menu-items > li a {
  color: #222;
}
.menu-items > li > a {
  padding: 13px 15px;
  text-transform: uppercase;
}
.menu-items > li.current-menu-item,
.menu-items > li.current-menu-ancestor,
.menu-items > li:hover {
  background: #f85658;
}
.menu-items > li.current-menu-item > a,
.menu-items > li.current-menu-ancestor > a,
.menu-items > li:hover > a {
  color: #ffffff;
}
.menu-items .menu-title {
  display: block;
  line-height: 1.2em;
  position: relative;
}
.menu-items .menu-description {
  font-size: 0.86666667em;
  line-height: 1.25em;
  opacity: 0.8;
  filter: alpha(opacity=80);
  margin-top: 3px;
  display: block;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
}
.menu-items li:hover > ul,
.menu-items li.sfHover > ul {
  display: block;
}
.menu-items ul {
  font-weight: normal;
  position: absolute;
  display: none;
  top: 100%;
  left: 0px;
  z-index: 101;
  min-width: 16em;
  background: #222;
  padding: 5px;
  border: solid 1px #444444;
}
.menu-items ul a {
  padding: 10px 5px 10px 15px;
}
.menu-items ul li {
  background: rgba(255, 255, 255, 0.04);
}
.menu-items ul li.current-menu-item,
.menu-items ul li.current-menu-ancestor,
.menu-items ul li:hover {
  background: #f85658;
}
.menu-items ul li.current-menu-item > a,
.menu-items ul li.current-menu-ancestor > a,
.menu-items ul li:hover > a {
  color: #ffffff;
}
.menu-items ul ul {
  top: -6px;
  left: 100%;
  margin-left: 5px;
}
.menu-items > li:last-child > ul {
  left: auto;
  right: 0;
}
/*** Superfish Menu Arrows ***/
.nav-menu .sf-menu.sf-arrows li a.sf-with-ul {
  padding-right: 25px;
}
.sf-menu.sf-arrows .sf-with-ul .menu-title {
  width: 100%;
}
.sf-menu.sf-arrows .sf-with-ul .menu-title:after {
  top: 47%;
  line-height: 10px;
  margin-top: -5px;
  font-size: 0.8em;
  position: absolute;
  right: -10px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  content: "\f107";
}
.nav-menu .sf-menu.sf-arrows ul a.sf-with-ul {
  padding-right: 10px;
}
.sf-menu.sf-arrows ul .sf-with-ul .menu-title:after {
  content: "\f105";
  right: 7px;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1em;
}
/*** Responsive Menu ***/
.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 5px 0;
}
.menu-toggle-text {
  margin-right: 5px;
}
@media only screen and (max-width: 969px) {
  /* Responsive Menu */
  .menu-toggle {
    display: block;
  }
  #menu-primary-items ul,
  #menu-secondary-items ul {
    border: none;
  }
  .menu-items {
    border-top: solid 1px #444444;
    display: none;
    text-align: left;
  }
  .menu-items > li {
    float: none;
  }
  .menu-items > li .menu-title {
    text-transform: uppercase;
  }
  .menu-items ul {
    position: relative;
    top: auto;
    left: auto;
    padding: 0;
  }
  .menu-items > li > a,
  .menu-items ul li a {
    padding: 6px 6px 6px 15px;
  }
  .menu-items ul li a {
    padding-left: 40px;
    /*line-height: inherit;*/
  }
  .menu-items ul ul {
    top: 0;
    left: auto;
  }
  .menu-items ul ul li a {
    padding-left: 65px;
  }
  .menu-items ul ul ul li a {
    padding-left: 90px;
  }
  /* Default all open state */
  .mobilesubmenu-open .menu-items ul {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
    /* Override inline styles for jquery animation by superfish */
  }
  /* Superfish Menu Arrows */
  .sf-menu.sf-arrows ul .sf-with-ul .menu-title:after {
    content: "\f107";
  }
  /* Fix for compatibility with mega menu plugins */
  .mobilemenu-inline .menu-items {
    position: static;
  }
  /* Left Fixed Menu */
  .mobilemenu-fixed .menu-toggle,
  .mobilemenu-fixed #menu-primary-items,
  .mobilemenu-fixed #menu-secondary-items {
    -webkit-transition: left 0.3s ease-in, background-color 0.3s linear;
    -moz-transition: left 0.3s ease-in, background-color 0.3s linear;
    -o-transition: left 0.3s ease-in, background-color 0.3s linear;
    transition: left 0.3s ease-in, background-color 0.3s linear;
  }
  .mobilemenu-fixed .menu-toggle-text {
    display: none;
  }
  .mobilemenu-fixed .menu-toggle {
    width: 2em;
    padding: 5px;
    position: fixed;
    top: 15%;
    left: 0;
    z-index: 99995;
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-left: none;
  }
  .mobilemenu-fixed .menu-toggle,
  .mobilemenu-fixed .menu-items {
    background: #222;
  }
  .mobilemenu-fixed #menu-primary-items,
  .mobilemenu-fixed #menu-secondary-items {
    display: block;
    width: 280px;
    position: fixed;
    top: 0;
    z-index: 99994;
    overflow-y: auto;
    height: 100%;
    border-right: solid 2px rgba(255, 255, 255, 0.1);
    left: -282px;
  }
  .mobilemenu-fixed.mobilemenu-open .menu-toggle {
    left: 280px;
    z-index: 99997;
  }
  .mobilemenu-fixed.mobilemenu-open #menu-primary-items,
  .mobilemenu-fixed.mobilemenu-open #menu-secondary-items {
    left: 0;
    z-index: 99996;
  }
  .mobilemenu-fixed .menu-items ul {
    min-width: auto;
  }
  .header-supplementary-bottom .mobilemenu-fixed .menu-toggle {
    margin-top: 40px;
  }
  .header-supplementary-top .mobilemenu-fixed .menu-toggle {
    margin-top: -40px;
  }
}
@media only screen and (min-width: 970px) {
  .menu-items {
    display: inline-block !important;
    /*Override any leftover inline style applied by responsive JS in smaller screens. Example: if a screen is resized when the menu is toggled off */
  }
  .tablemenu .menu-items {
    display: inline-table !important;
    /*Override any leftover inline style applied by responsive JS in smaller screens. Example: if a screen is resized when the menu is toggled off */
  }
  .tablemenu .menu-items > li {
    display: table-cell;
    float: none;
  }
}
/************* Aside Header *************/
.sidebar-header-sidebar {
  font-size: 0.86666667em;
  line-height: 1.25em;
}
.sidebar-header-sidebar h1,
.sidebar-header-sidebar h2,
.sidebar-header-sidebar h3,
.sidebar-header-sidebar h4,
.sidebar-header-sidebar h5,
.sidebar-header-sidebar h6,
.sidebar-header-sidebar .title {
  margin: 0;
}
.sidebar-header-sidebar .widget-title {
  font-size: 1.33333333em;
  line-height: 1.3em;
}
.sidebar-header-sidebar .widget_text p {
  margin: 5px 0;
}
aside.sidebar-header-sidebar {
  margin-top: 0;
}
aside.sidebar-header-sidebar .widget,
aside.sidebar-header-sidebar .widget:last-child {
  margin: 5px 0;
}
/************* Below Header *************/
#below-header-left {
  text-align: left;
}
#below-header-right {
  text-align: right;
}
#below-header-center {
  text-align: center;
}
.below-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
  font-size: 0.86666667em;
  line-height: 1.25em;
}
.below-header .widget {
  display: inline-block;
  vertical-align: middle;
}
.below-header h1,
.below-header h2,
.below-header h3,
.below-header h4,
.below-header h5,
.below-header h6,
.below-header .title {
  margin: 0;
}
.below-header .widget-title {
  font-size: 1.33333333em;
  line-height: 1.3em;
}
.below-header .widget_text .textwidget p {
  margin: 5px 0;
}
div.below-header .widget {
  margin: 0 5px;
}
div.below-header .widget_text,
div.below-header .widget_nav_menu {
  margin-top: 5px;
  margin-bottom: 5px;
}
/*** Responsive Below Header ***/
@media only screen and (max-width: 969px) {
  #below-header-left {
    text-align: center;
    margin: 0 -10px;
  }
  #below-header-right {
    text-align: center;
    margin: 0 -10px;
  }
}
/**
 * Main #Content
 * ========================================================
 */
/** Use 'entry-content'/'entry-the-content' classes to style posts on single post pages specifically **/
#main.main {
  padding-bottom: 2.66666667em;
  overflow: hidden;
  background: #fff;
}
/************* Loop Meta *************/
.main > .loop-meta-wrap {
  position: relative;
  text-align: center;
}
.main > .loop-meta-wrap.pageheader-bg-default,
.main > .loop-meta-wrap.pageheader-bg-stretch,
.main > .loop-meta-wrap.pageheader-bg-both {
  background: #3e3e3e;
  color: #fff;
}
.main > .loop-meta-wrap.pageheader-bg-default h1,
.main > .loop-meta-wrap.pageheader-bg-stretch h1,
.main > .loop-meta-wrap.pageheader-bg-both h1,
.main > .loop-meta-wrap.pageheader-bg-default h2,
.main > .loop-meta-wrap.pageheader-bg-stretch h2,
.main > .loop-meta-wrap.pageheader-bg-both h2,
.main > .loop-meta-wrap.pageheader-bg-default h3,
.main > .loop-meta-wrap.pageheader-bg-stretch h3,
.main > .loop-meta-wrap.pageheader-bg-both h3,
.main > .loop-meta-wrap.pageheader-bg-default h4,
.main > .loop-meta-wrap.pageheader-bg-stretch h4,
.main > .loop-meta-wrap.pageheader-bg-both h4,
.main > .loop-meta-wrap.pageheader-bg-default h5,
.main > .loop-meta-wrap.pageheader-bg-stretch h5,
.main > .loop-meta-wrap.pageheader-bg-both h5,
.main > .loop-meta-wrap.pageheader-bg-default h6,
.main > .loop-meta-wrap.pageheader-bg-stretch h6,
.main > .loop-meta-wrap.pageheader-bg-both h6,
.main > .loop-meta-wrap.pageheader-bg-default a,
.main > .loop-meta-wrap.pageheader-bg-stretch a,
.main > .loop-meta-wrap.pageheader-bg-both a {
  color: inherit;
}
.main > .loop-meta-wrap.pageheader-bg-default .entry-byline,
.main > .loop-meta-wrap.pageheader-bg-stretch .entry-byline,
.main > .loop-meta-wrap.pageheader-bg-both .entry-byline {
  color: inherit;
}
.main > .loop-meta-wrap.pageheader-bg-incontent,
.main > .loop-meta-wrap.pageheader-bg-none {
  background: none;
  border-bottom: solid 1px #aaa;
}
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap {
  background: none;
}
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta {
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: inline-block;
  margin: 95px 0;
  width: auto;
  padding: 1.66666667em 2em 2em;
}
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h1,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h2,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h3,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h4,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h5,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta h6,
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .loop-meta a {
  color: inherit;
}
.main > .loop-meta-wrap#loop-meta.loop-meta-imgwrap .entry-byline {
  color: inherit;
}
.loop-meta {
  float: none;
  background-size: contain;
  padding: 1.66666667em 0 2em;
}
.loop-title {
  margin: 0;
  font-size: 1.8em;
}
.loop-description p {
  margin: 5px 0;
}
.loop-description p:last-child {
  margin-bottom: 0;
}
.entry-featured-img-headerwrap {
  height: 300px;
}
.content .loop-meta-wrap {
  margin-bottom: 1.66666667em;
}
.content .loop-meta-wrap.pageheader-bg-default,
.content .loop-meta-wrap.pageheader-bg-stretch,
.content .loop-meta-wrap.pageheader-bg-none {
  background: none;
  padding-bottom: 1em;
  border-bottom: solid 1px #aaa;
}
.content .loop-meta-wrap.pageheader-bg-incontent,
.content .loop-meta-wrap.pageheader-bg-both {
  text-align: center;
  background: #f5f5f5;
  padding: 15px 18px;
}
.content .loop-meta {
  padding: 0;
}
.content .loop-title {
  font-size: 1.53333333em;
}
#custom-content-title-area {
  text-align: center;
}
.pre-content-title-area ul.lSPager {
  display: none;
}
.content-title-area-stretch .hgrid-span-12 {
  padding: 0;
}
.content-title-area-grid {
  margin: 1.66666667em 0;
}
.content .post-content-title-area {
  margin: 0 0 2.66666667em;
}
/************* Entry Meta Byline (Singular Post Page) *************/
.entry-byline {
  font-size: 0.86666667em;
  line-height: 1.25em;
  text-transform: uppercase;
  margin-top: 5px;
  color: #999;
}
.content .entry-byline.empty {
  margin: 0;
}
.entry-byline-block {
  display: inline;
}
.entry-byline-block:after {
  content: "/";
  margin: 0 7px;
  font-size: 1.181818em;
}
.entry-byline-block:last-of-type:after {
  display: none;
}
.entry-byline a {
  color: inherit;
}
.entry-byline a:hover {
  color: inherit;
  text-decoration: underline;
}
.entry-byline-label {
  margin-right: 3px;
}
.entry-footer .entry-byline {
  margin: 0;
  padding: 1.66666667em 5px;
  border-bottom: solid 1px #aaa;
}
/************* <main> #content *************/
.main-content-grid {
  margin-top: 45px;
}
.content-wrap .widget {
  margin: 0.66666667em 0 1em;
}
/************* Single Post (Single post on Archive page / Singular Post page) *************/
/** Caution: Modify this CSS block carefully as these divs display differently in above two templates. **/
/** Use specific classes instead: 'entry-content' / 'entry-the-content' classes for single post pages, and 'entry-grid' classes to style posts in archive lists **/
.entry-content-featured-img {
  display: block;
  margin: 0 auto 1.66666667em;
}
/************* Single Post (Single Post Page) *************/
.entry-content {
  border-bottom: solid 1px #aaa;
}
.entry-content.no-shadow {
  border: none;
}
.entry-the-content {
  margin-bottom: 2.66666667em;
}
.entry-the-content p:first-child,
.entry-the-content h1:first-child,
.entry-the-content h2:first-child,
.entry-the-content h3:first-child,
.entry-the-content h4:first-child,
.entry-the-content h5:first-child,
.entry-the-content h6:first-child {
  margin-top: 0;
}
.entry-the-content p:last-child,
.entry-the-content h1:last-child,
.entry-the-content h2:last-child,
.entry-the-content h3:last-child,
.entry-the-content h4:last-child,
.entry-the-content h5:last-child,
.entry-the-content h6:last-child {
  margin-bottom: 0;
}
.entry-the-content:after {
  content: "";
  display: table;
  clear: both;
}
.entry-the-content:after {
  content: "";
  display: table;
  clear: both;
}
/************* Post Navigation *************/
.page-links {
  text-align: center;
  margin: 2.66666667em 0;
}
.page-links a,
.page-links .page-numbers {
  border: solid 1px;
  padding: 2px 5px;
  margin: 2px;
}
.loop-nav {
  padding: 1.66666667em 5px;
  border-bottom: solid 1px #aaa;
}
/************* Comments *************/
#comments-template {
  padding-top: 1.66666667em;
}
#comments-number {
  font-size: 1em;
  color: #999;
  font-family: inherit;
  font-weight: bold;
  font-weight: 800;
  text-transform: uppercase;
}
#comments .comment-list,
#comments ol.children {
  list-style-type: none;
  margin: 0;
}
/*** Single Comment ***/
.main .comment {
  margin: 0;
}
.comment article {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.comment p {
  margin: 0 0 0.3em;
}
.comment li.comment {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  margin-left: 20px;
}
.comment li article:before {
  content: " ";
  display: block;
  width: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: -40px;
}
.comment-avatar {
  width: 50px;
  flex-shrink: 0;
  margin: 20px 15px 0 0;
}
.comment-content-wrap {
  padding: 15px 0;
}
.comment-meta-block,
.comment-edit-link {
  display: inline-block;
  padding: 0 15px 0 0;
  margin: 0 15px 0 0;
  border-right: solid 1px;
  font-size: 0.86666667em;
  line-height: 1.25em;
  color: #999;
  text-transform: uppercase;
}
.comment-meta-block:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.comment-meta-block cite.comment-author {
  font-style: normal;
  font-size: 1em;
}
/*** Single Comment by post author ***/
.comment-by-author {
  font-size: 0.86666667em;
  line-height: 1.25em;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 3px;
  text-align: center;
}
.comment.bypostauthor > article {
  background: #f5f5f5;
  padding: 0 10px 0 18px;
  margin: 15px 0;
}
.comment.bypostauthor > article .comment-avatar {
  margin-top: 18px;
}
.comment.bypostauthor > article .comment-content-wrap {
  padding: 13px 0;
}
.comment.bypostauthor > article .comment-meta-block,
.comment.bypostauthor > article .comment-edit-link {
  color: inherit;
}
.comment.bypostauthor + #respond {
  background: #f5f5f5;
  padding: 20px 20px 1px;
}
.comment.bypostauthor + #respond #reply-title {
  margin-top: 0;
}
/*** Single Comment Ping ***/
.comment-ping {
  border: solid 1px #aaa;
  padding: 5px 10px 5px 15px;
  margin: 30px 0px 20px;
}
.comment-ping cite {
  font-size: 1em;
}
/*** Response Form ***/
.children #respond {
  margin-left: 60px;
  position: relative;
}
.children #respond:before {
  content: " ";
  border-left: solid 1px rgba(0, 0, 0, 0.33);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -40px;
}
.children #respond:after {
  content: " ";
  display: block;
  width: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.33);
  position: absolute;
  top: 50%;
  left: -40px;
}
#reply-title {
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  font-weight: 800;
  text-transform: uppercase;
}
#reply-title small {
  display: block;
}
#respond p {
  margin: 0 0 0.3em;
}
#respond label {
  font-size: 0.86666667em;
  line-height: 1.25em;
  font-weight: normal;
  padding: 0.66666667em 0;
  width: 15%;
  vertical-align: top;
}
#respond input[type=checkbox] + label {
  display: inline;
  margin-left: 5px;
  vertical-align: text-bottom;
}
/*** Comments Responsive ***/
/************* 404 Page Content *************/
.custom-404-content .entry-the-content {
  margin-bottom: 1em;
}
/************* Attachment Page Content *************/
.entry.attachment .entry-content {
  border-bottom: none;
}
.entry.attachment .entry-the-content {
  width: auto;
  text-align: center;
}
.entry.attachment .entry-the-content p:first-of-type {
  margin-top: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
.entry.attachment .entry-the-content .more-link {
  display: none;
}
/**
 * Main #Content for Index (Archive / Blog List)
 * ========================================================
 */
/** Use 'entry-grid' classes to style posts in archive lists specifically **/
/************* Archive List Post Entry *************/
.archive-wrap {
  overflow: hidden;
}
/*** Common Styles ***/
.plural .entry {
  padding-top: 1em;
  padding-bottom: 1.66666667em;
  position: relative;
}
.plural .entry:first-child {
  padding-top: 0;
}
.entry-grid-featured-img {
  position: relative;
  z-index: 1;
}
/* Sticky */
.entry-sticky-tag {
  display: none;
  /*Hide it when not actually displayed as 'stuck' at top*/
}
.sticky > .entry-grid {
  background: #f5f5f5;
  padding: 15px 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sticky > .entry-grid > .entry-featured-img-wrap {
  margin: -15px -20px 0;
}
/* Entry Grid */
.entry-grid {
  min-width: auto;
}
.entry-grid-content {
  padding-left: 0;
  padding-right: 0;
}
.entry-grid-content .entry-title {
  font-size: 1.26666667em;
  margin: 0;
}
.entry-grid-content .entry-title a {
  color: inherit;
}
.entry-grid-content .entry-summary p:last-child {
  margin-bottom: 0;
}
/*** Archive Big Post entry ***/
/*** Archive Medium and Small Post entry ***/
.archive-medium .entry-grid,
.archive-small .entry-grid {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.archive-medium .entry-featured-img-wrap,
.archive-small .entry-featured-img-wrap {
  flex-shrink: 0;
}
.archive-medium .entry-content-featured-img,
.archive-small .entry-content-featured-img {
  margin: 0 1.66666667em 0 0;
}
.archive-medium.sticky > .entry-grid,
.archive-small.sticky > .entry-grid {
  padding-left: 15px;
  padding-right: 15px;
}
.archive-medium.sticky > .entry-grid > .entry-featured-img-wrap,
.archive-small.sticky > .entry-grid > .entry-featured-img-wrap {
  margin: 0;
}
/*** Archive Block2/3 entry ***/
#content .archive-block {
  padding-top: 0;
}
.archive-block2:nth-child(2n+1) {
  clear: both;
}
.archive-block3:nth-child(3n+1) {
  clear: both;
}
.archive-block4:nth-child(4n+1) {
  clear: both;
}
.archive-block .entry-grid {
  margin-bottom: 0;
}
/*** Responsive Block2/3 Entry ***/
/*** Archive Mosaic (2/3/4 columns) Post entry ***/
#content .archive-mosaic {
  padding-top: 0;
}
.archive-mosaic {
  text-align: center;
}
.archive-mosaic .entry-grid {
  border: solid 1px #ddd;
}
.archive-mosaic .entry-content-featured-img {
  margin: 0 auto;
}
.archive-mosaic.sticky > .entry-grid {
  padding: 0;
}
.archive-mosaic.sticky > .entry-grid > .entry-featured-img-wrap {
  margin: 0;
}
.archive-mosaic .entry-grid-content {
  padding: 1.66666667em 1em;
  padding-bottom: 0;
}
.archive-mosaic .entry-title {
  font-size: 1.13333333em;
}
.archive-mosaic .entry-summary p:first-child {
  margin-top: 0.8em;
}
.archive-mosaic .more-link {
  margin: 1em -1em 0;
  text-align: center;
  font-size: 1em;
}
.archive-mosaic .more-link a {
  display: block;
  font-size: 0.86666667em;
  line-height: 1.25em;
}
.archive-mosaic .mosaic-sub {
  background: #f5f5f5;
  border-top: solid 1px #ddd;
  margin: 0 -1em;
  line-height: 1.4em;
}
.archive-mosaic .entry-byline {
  display: block;
  padding: 10px;
  border: none;
  margin: 0;
}
/*** Responsive Archive List Post Entry ***/
@media only screen and (max-width: 969px) {
  /** Common **/
  /** Archive Big **/
  /** Archive Medium/Small **/
  .archive-medium .entry-grid,
  .archive-small .entry-grid {
    display: block;
  }
  .archive-medium .entry-content-featured-img,
  .archive-small .entry-content-featured-img {
    margin: 0 auto 1.66666667em;
  }
  /** Archive Mosaic **/
  .archive-mosaic .entry-content-featured-img {
    padding: 1em 1em 0;
  }
}
/************* Read More *************/
.more-link {
  display: block;
  margin-top: 2.66666667em;
  text-align: right;
  text-transform: uppercase;
  font-size: 0.86666667em;
  line-height: 1.25em;
  font-weight: bold;
  border-top: solid 1px;
  color: #f85658;
  position: relative;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  -moz-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  -o-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
  transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear;
}
.more-link a {
  display: inline-block;
  padding: 3px 0;
}
.more-link a,
.more-link a:hover {
  color: #f85658;
}
a.more-link {
  border: none;
  margin-top: inherit;
  text-align: inherit;
}
/************* Navigation *************/
.pagination.loop-pagination {
  margin: 1em 0;
}
.page-numbers {
  border: solid 1px;
  padding: 2px 5px;
  margin: 2px;
}
/**
 * Frontpage
 * ========================================================
 */
.home #main.main {
  padding-bottom: 0;
}
.frontpage-area.module-bg-highlight {
  background: #f5f5f5;
}
.frontpage-area.module-bg-image.bg-scroll {
  background-size: cover;
}
#fp-header-image img {
  width: 100%;
}
/************* Modules - Margins *************/
.frontpage-area {
  margin: 45px 0;
}
.frontpage-area.module-bg-highlight,
.frontpage-area.module-bg-color,
.frontpage-area.module-bg-image {
  margin: 0;
  padding: 45px 0;
}
.frontpage-area-stretch.frontpage-area {
  margin: 0;
}
.frontpage-area-stretch > .hgrid {
  max-width: none;
}
.frontpage-area-stretch > .hgrid [class*="hgrid-span-"]:first-child,
.frontpage-area-stretch > .hgrid [class*="hcolumn-"]:first-child {
  padding-left: 0;
}
.frontpage-area-stretch > .hgrid [class*="hgrid-span-"]:last-child,
.frontpage-area-stretch > .hgrid [class*="hcolumn-"]:last-child {
  padding-right: 0;
}
/* Widget Areas */
.frontpage-area > div.hgrid > div > .widget:first-child {
  margin-top: 0;
}
.frontpage-area > div.hgrid > div > .widget:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 969px) {
  .frontpage-widgetarea > div.hgrid > [class*="hgrid-span-"] {
    margin-bottom: 45px;
  }
  .frontpage-widgetarea > div.hgrid > [class*="hgrid-span-"]:last-child {
    margin-bottom: 0;
  }
}
/* Page Content - Static/Blog */
/************* Frontpage - Widget Areas *************/
/************* Frontpage - Page Content *************/
.frontpage-pagecontent .main-content-grid {
  margin-top: 0;
}
.frontpage-area .entry-content {
  border-bottom: none;
}
.frontpage-area .entry-the-content {
  margin: 0;
}
.frontpage-area .entry-the-content p:last-child {
  margin-bottom: 0;
}
.frontpage-area .entry-footer {
  display: none;
}
/************* Frontpage - Blog *************/
.hoot-blogposts-title {
  margin: 0 auto 1.66666667em;
  padding-bottom: 8px;
  width: 75%;
  border-bottom: solid 1px #aaa;
  text-align: center;
}
/*** Responsive Frontpage ***/
@media only screen and (min-width: 970px) {
}
@media only screen and (max-width: 969px) {
  .hoot-blogposts-title {
    width: 100%;
  }
}
/**
 * Sidebars and Widgets
 * ========================================================
 */
/************* Sidebars & Layouts *************/
/************* Sidebars *************/
.sidebar {
  line-height: 1.6em;
}
.sidebar .widget {
  margin-top: 0;
}
.sidebar .widget:last-child {
  margin-bottom: 0;
}
.sidebar .widget-title {
  font-size: 1.26666667em;
}
@media only screen and (max-width: 969px) {
  .sidebar {
    margin-top: 45px;
  }
}
/************* Widgets *************/
.widget {
  margin: 45px 0;
  position: relative;
}
.widget-title {
  font-size: 1.53333333em;
  font-weight: normal;
  position: relative;
  margin-top: 0;
}
/************* WordPress Widgets *************/
/* Text */
.textwidget p:last-child {
  margin-bottom: 0.66666667em;
}
/* Search */
.searchbody {
  vertical-align: middle;
}
.searchbody input {
  background: none;
  color: inherit;
  border: none;
  padding: 10px 1.2em 10px 2.2em;
  width: 100%;
  vertical-align: bottom;
  display: block;
}
.searchbody input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  color: inherit;
}
.searchform {
  position: relative;
  background: #f5f5f5;
  background: rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(255, 255, 255, 0.3);
  margin-bottom: 0;
}
.searchbody i.fa-search {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: 10px;
}
.js-search .widget_search {
  position: static;
}
.js-search .searchform {
  position: static;
  background: none;
  border: none;
}
.js-search .searchform i.fa-search {
  position: relative;
  margin: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 1.33333333em;
  line-height: 1.3em;
}
.js-search .searchtext {
  display: none;
}
.js-search .js-search-placeholder {
  display: none;
}
.js-search .js-search-placeholder:before {
  cursor: pointer;
  content: "X";
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1em;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -0.5em;
  padding: 0 10px;
  z-index: 95;
}
.js-search .searchform.expand i.fa-search {
  visibility: hidden;
}
.js-search .searchform.expand .searchtext {
  background: #fff;
  color: #444;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  z-index: 90;
  padding-right: 2em;
  padding-left: 1em;
}
.js-search .searchform.expand .js-search-placeholder {
  display: block;
  color: #444;
}
.contrast-typo.js-search .searchform.expand .searchtext,
.contrast-typo .js-search .searchform.expand .searchtext {
  background: #222;
  color: inherit;
}
.contrast-typo.js-search .searchform.expand .js-search-placeholder,
.contrast-typo .js-search .searchform.expand .js-search-placeholder {
  display: block;
  color: inherit;
}
/* Custom Menu */
.widget_nav_menu .menu-description {
  margin-left: 5px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.widget_nav_menu .menu-description:before {
  content: "( ";
}
.widget_nav_menu .menu-description:after {
  content: " )";
}
.inline-nav .widget_nav_menu ul,
.inline-nav .widget_nav_menu ol,
.inline-nav .widget_nav_menu li {
  display: inline;
  margin-left: 0;
}
.inline-nav .widget_nav_menu li {
  margin-right: 0;
}
.inline-nav .widget_nav_menu li a {
  margin: 0 30px 0 0;
  position: relative;
}
.inline-nav .widget_nav_menu li a:hover {
  border-bottom: dashed 1px;
  text-decoration: none;
}
.inline-nav .widget_nav_menu li a:after {
  content: "/";
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-left: 15px;
  position: absolute;
}
.inline-nav .widget_nav_menu ul.menu > li:last-child a {
  margin-right: 0;
}
.inline-nav .widget_nav_menu ul.menu > li:last-child a:after {
  display: none;
}
/**
 * Theme and WordPress Plugins
 * ========================================================
 */
/************* Light Gallery *************/
.customHtml > h4,
.customHtml p {
  color: #ffffff;
  font-size: 15px;
  line-height: 1.4285em;
  margin: 3px 0;
}
.customHtml > h4 {
  font-size: 20px;
  font-weight: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/************* Parallax *************/
#page-wrapper .parallax-mirror {
  z-index: inherit !important;
}
/************* Sticky Sidebar *************/
/************* Contact Form 7 *************/
.hoot-cf7-style .wpcf7-form {
  text-transform: uppercase;
  margin: 0.66666667em 5% 0.66666667em 0;
}
.hoot-cf7-style .wpcf7-form .wpcf7-list-item-label,
.hoot-cf7-style .wpcf7-form .wpcf7-quiz-label {
  text-transform: none;
  font-weight: normal;
}
.hoot-cf7-style .wpcf7-form .required:before {
  margin-right: 8px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  content: "\f069";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hoot-cf7-style .wpcf7-form .one-fourth {
  width: 20%;
  float: left;
}
.hoot-cf7-style .wpcf7-form .one-fourth:nth-of-type(4n+1) {
  clear: both;
}
.hoot-cf7-style .wpcf7-form .one-third {
  width: 28%;
  float: left;
}
.hoot-cf7-style .wpcf7-form .one-third:nth-of-type(3n+1) {
  clear: both;
}
.hoot-cf7-style .wpcf7-form .one-half {
  width: 45%;
  float: left;
}
.hoot-cf7-style .wpcf7-form .one-half:nth-of-type(2n+1) {
  clear: both;
}
.hoot-cf7-style .wpcf7-form .full {
  width: 94%;
  float: none;
  clear: both;
}
.hoot-cf7-style .wpcf7-form .one-fourth input,
.hoot-cf7-style .wpcf7-form .one-third input,
.hoot-cf7-style .wpcf7-form .one-half input,
.hoot-cf7-style .wpcf7-form .full input,
.hoot-cf7-style .wpcf7-form .one-fourth textarea,
.hoot-cf7-style .wpcf7-form .one-third textarea,
.hoot-cf7-style .wpcf7-form .one-half textarea,
.hoot-cf7-style .wpcf7-form .full textarea,
.hoot-cf7-style .wpcf7-form .one-fourth select,
.hoot-cf7-style .wpcf7-form .one-third select,
.hoot-cf7-style .wpcf7-form .one-half select,
.hoot-cf7-style .wpcf7-form .full select {
  width: 100%;
}
.hoot-cf7-style .wpcf7-form .one-fourth input[type="checkbox"],
.hoot-cf7-style .wpcf7-form .one-third input[type="checkbox"],
.hoot-cf7-style .wpcf7-form .one-half input[type="checkbox"],
.hoot-cf7-style .wpcf7-form .full input[type="checkbox"],
.hoot-cf7-style .wpcf7-form .one-fourth input[type="radio"],
.hoot-cf7-style .wpcf7-form .one-third input[type="radio"],
.hoot-cf7-style .wpcf7-form .one-half input[type="radio"],
.hoot-cf7-style .wpcf7-form .full input[type="radio"] {
  width: auto;
}
.hoot-cf7-style .wpcf7-form .submit {
  clear: both;
  float: none;
  width: 100%;
}
.hoot-cf7-style .wpcf7-form .submit:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-cf7-style .wpcf7-form .submit:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-cf7-style .wpcf7-form .submit input {
  width: auto;
}
.hoot-cf7-style .wpcf7-form .wpcf7-form-control-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-cf7-style .wpcf7-form .wpcf7-form-control-wrap:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-cf7-style div.wpcf7-validation-errors,
.hoot-cf7-style div.wpcf7-mail-sent-ng,
.hoot-cf7-style div.wpcf7-mail-sent-ok {
  margin: -0.66666667em 0 1em;
  border: 0;
}
.hoot-cf7-style div.wpcf7-validation-errors {
  background: #fae9bf;
  color: #807000;
}
.hoot-cf7-style div.wpcf7-mail-sent-ng {
  background: #faece8;
  color: #af2c20;
}
.hoot-cf7-style div.wpcf7-mail-sent-ok {
  background: #eefae8;
  color: #769754;
}
/*** Responsive Contact Form 7 ***/
@media only screen and (max-width: 969px) {
  .hoot-cf7-style .wpcf7-form p,
  .hoot-cf7-style .wpcf7-form p.full {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
/************* MapPress Google Maps *************/
.hoot-mapp-style {
  /* Use default styles in mappress.css for rest */
}
.hoot-mapp-style .mapp-layout {
  border: none;
  max-width: 100%;
  margin: 0;
}
.hoot-mapp-style .mapp-map-links {
  border: none;
}
.hoot-mapp-style .mapp-links a:first-child:after {
  content: " /";
}
/************* Woocommerce *************/
.woocommerce ul.products,
.woocommerce-page ul.products,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.woocommerce.archive ul.products,
.woocommerce-page.archive ul.products {
  margin: 1em 0 0 0;
}
.woocommerce.archive ul.products li.product,
.woocommerce-page.archive ul.products li.product {
  margin: 0 3.8% 2.992em 0;
  padding-top: 0;
}
.woocommerce.archive ul.products li.last,
.woocommerce-page.archive ul.products li.last {
  margin-right: 0;
}
/* Remove title from product page since we already have it in theme title area (loop-meta) */
.woocommerce.singular .product .product_title {
  display: none;
}
/* Singular Product */
.upsells.products,
.related.products {
  clear: both;
}
/* Pages - Account, Cart, Checkout */
.woocommerce-account .entry-content,
.woocommerce-cart .entry-content,
.woocommerce-checkout .entry-content {
  border-bottom: none;
}
.woocommerce-account #comments-template,
.woocommerce-cart #comments-template,
.woocommerce-checkout #comments-template {
  display: none;
}
.woocommerce-account .sharedaddy,
.woocommerce-cart .sharedaddy,
.woocommerce-checkout .sharedaddy {
  display: none;
}
/* Misc */
.flex-viewport figure {
  max-width: none;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #f85658;
  color: #ffffff;
}
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #e74547;
  color: #ffffff;
}
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover {
  background: #ddd;
  color: #666;
  border: solid 1px #aaa;
}
/*** Responsive Woocommerce ***/
/* Use 768px instead of @breakPoint to stay compatible with default woocommerce stylesheet */
@media only screen and (max-width: 768px) {
  .woocommerce.archive.plural ul.products li.product,
  .woocommerce-page.archive.plural ul.products li.product {
    width: 48%;
    margin: 0 0 2.992em;
  }
}
/************* Woocommerce Menu Cart *************/
li a.empty-wpmenucart-visible span.amount {
  display: none !important;
}
/************* Jetpack *************/
/*** Infinite Scoll ***/
.infinite-scroll .hoot-jetpack-style .pagination.loop-pagination,
.infinite-scroll .hoot-jetpack-style .pagination.navigation {
  display: none;
}
.hoot-jetpack-style #infinite-handle {
  clear: both;
}
.hoot-jetpack-style #infinite-handle span {
  padding: 6px 23px 8px;
  font-size: 0.8em;
  line-height: 1.8em;
  border: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.33);
}
.hoot-jetpack-style #infinite-handle span button {
  text-transform: uppercase;
}
/* Disable for woocommerce shop/archive */
.infinite-scroll.woocommerce #infinite-handle {
  display: none !important;
}
/*** Share ***/
.hoot-jetpack-style .entry-content .sharedaddy {
  border-top: solid 1px #aaa;
}
.hoot-jetpack-style .entry-content .sharedaddy > div {
  margin-top: 1.66666667em;
}
.hoot-jetpack-style div.product .sharedaddy > div {
  margin-top: 1.66666667em;
}
.hoot-jetpack-style .frontpage-area .entry-content .sharedaddy {
  display: none;
}
.hoot-jetpack-style .sharedaddy .sd-title {
  font-family: inherit;
  text-transform: uppercase;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-bottom: 0;
}
.hoot-jetpack-style .sharedaddy .sd-title:before {
  display: none;
}
.hoot-jetpack-style .sd-content ul li {
  display: inline-block;
}
.hoot-jetpack-style .sd-content ul li iframe {
  margin: 0;
}
/* Disable for content block widget */
.content-block-text .sharedaddy {
  display: none;
}
/*** Contact Form ***/
.hoot-jetpack-style .contact-form.commentsblock label {
  font-weight: normal;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-field-label {
  text-transform: uppercase;
  font-weight: bold;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-field-label span {
  color: #af2c20;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-checkbox-multiple-label {
  display: inline-block;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-checkbox-multiple-label + .clear-form {
  display: inline-block;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-radio-label {
  display: inline-block;
}
.hoot-jetpack-style .contact-form.commentsblock .grunion-radio-label + .clear-form {
  display: inline-block;
}
.hoot-jetpack-style .contact-form.commentsblock p.contact-submit {
  clear: both;
  float: none;
  width: 100%;
  margin: 0;
}
.hoot-jetpack-style .contact-form.commentsblock p.contact-submit:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-jetpack-style .contact-form.commentsblock p.contact-submit:after {
  content: "";
  display: table;
  clear: both;
}
.hoot-jetpack-style .contact-form.commentsblock p.contact-submit input {
  width: auto;
}
/*** Responsive Jetpack ***/
@media only screen and (max-width: 969px) {
  .hoot-jetpack-style .contact-form.commentsblock > div,
  .hoot-jetpack-style .contact-form.commentsblock > div:last-of-type {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
/************* Page Builder *************/
.so-panel.widget {
  margin-top: 0;
}
/************* Elementor *************/
.elementor p,
.elementor h1,
.elementor h2,
.elementor h3,
.elementor h4,
.elementor h5,
.elementor h6,
.elementor .title {
  margin-top: 0;
}
/************* Newsletter *************/
/*** Mail Poet ***/
.widget_mailpoet_form {
  padding: 25px;
  background: #ddd;
}
.widget_mailpoet_form .widget-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-size: 1.66666667em;
  font-style: italic;
  margin: 0;
  text-align: center;
}
.widget_mailpoet_form .widget-title span {
  background: none !important;
  color: inherit !important;
}
.widget_mailpoet_form .widget-title span:after {
  border: none;
}
.widget_mailpoet_form .mailpoet_form {
  margin: 0;
}
.widget_mailpoet_form .mailpoet_paragraph {
  margin: 10px 0;
}
.widget_mailpoet_form .mailpoet_text {
  width: 100% !important;
}
.widget_mailpoet_form .mailpoet_submit {
  margin: 0 auto;
  display: block;
}
.widget_mailpoet_form .mailpoet_message p {
  margin-bottom: 0;
}
/** Newsletter **/
.widget_newsletterwidget,
.widget_newsletterwidgetminimal {
  padding: 25px;
  background: #ddd;
  text-align: center;
}
.widget_newsletterwidget .widget-title,
.widget_newsletterwidgetminimal .widget-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  font-size: 1.66666667em;
  font-style: italic;
  margin: 0;
}
.widget_newsletterwidget .widget-title span,
.widget_newsletterwidgetminimal .widget-title span {
  background: none !important;
  color: inherit !important;
}
.widget_newsletterwidget .widget-title span:after,
.widget_newsletterwidgetminimal .widget-title span:after {
  border: none;
}
.widget_newsletterwidget label,
.widget_newsletterwidgetminimal label {
  margin: 0 0 3px 2px;
}
.widget_newsletterwidget input.tnp-submit[type=submit],
.widget_newsletterwidgetminimal input.tnp-submit[type=submit] {
  margin: 0 auto;
  color: #ffffff;
  background: #f85658;
}
.widget_newsletterwidget input.tnp-submit[type=submit]:hover,
.widget_newsletterwidgetminimal input.tnp-submit[type=submit]:hover {
  background: #e74547;
  color: #ffffff;
}
.widget_newsletterwidget input[type=text],
.widget_newsletterwidgetminimal input[type=text],
.widget_newsletterwidget input[type=email],
.widget_newsletterwidgetminimal input[type=email],
.widget_newsletterwidget select,
.widget_newsletterwidgetminimal select {
  background: #fff;
}
.widget_newsletterwidget input[type="checkbox"],
.widget_newsletterwidgetminimal input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.widget_newsletterwidget form,
.widget_newsletterwidgetminimal form {
  margin-bottom: 0;
}
.widget_newsletterwidget .tnp-field:last-child,
.widget_newsletterwidgetminimal .tnp-field:last-child {
  margin-bottom: 0;
}
.tnp-widget {
  text-align: left;
  margin-top: 10px;
}
.tnp-widget-minimal {
  margin: 10px 0;
}
.tnp-widget-minimal input.tnp-email {
  margin-bottom: 10px;
}
/************* Login Modal / Popups *************/
/*** WooCommerce Login Popup and Shortcodes ***/
.woo-login-popup-sc-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*** AJAX Login and Registration modal popup ***/
.lrm-user-modal-container .lrm-switcher a {
  color: #555;
  background: rgba(0, 0, 0, 0.2);
}
.lrm-form a.button,
.lrm-form button,
.lrm-form button[type=submit],
.lrm-form #buddypress input[type=submit],
.lrm-form input[type=submit] {
  background: #f85658;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
}
.lrm-form a.button:hover,
.lrm-form button:hover,
.lrm-form button[type=submit]:hover,
.lrm-form #buddypress input[type=submit]:hover,
.lrm-form input[type=submit]:hover {
  -webkit-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.33);
}
/**
 * Footer
 * ========================================================
 */
/************* Sub Footer *************/
.sub-footer {
  background: #3e3e3e;
  border-top: solid 1px #444444;
  line-height: 1.6em;
  text-align: center;
}
.sub-footer .widget {
  margin: 1.66666667em 0;
}
/************* Footer *************/
#footer {
  background: none;
}
.footer {
  border-top: solid 4px #ddd;
  border-color: rgba(0, 0, 0, 0.13);
  padding: 10px 0 5px;
  line-height: 1.6em;
}
.footer p {
  margin: 1em 0;
}
.footer .footer-column {
  min-height: 1em;
}
.footer .hgrid-span-12.footer-column {
  text-align: center;
}
.footer .widget {
  margin: 30px 0;
}
.sub-footer .widget-title,
.footer .widget-title {
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.66666667em;
}
/************* Post Footer *************/
#post-footer {
  background: none;
}
.post-footer {
  border-top: solid 1px #aaa;
  border-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 0.66666667em 0;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*** Responsive Sidebar and Widgets ***/
@media only screen and (max-width: 969px) {
  .footer-column + .footer-column .widget:first-child {
    margin-top: 0;
  }
}
