.#{$prefix}-featured-post-slider-section{
    background-color: $color_black;
    color: $color_white;
    padding: 30px 0;
    a{
        color: $color_white;
    }
    .widget-title{
        text-align: center;
        margin-bottom: 15px;
        a{
            font-size: 1.8rem;
        }
    }
    .#{$prefix}-feature-post{
        padding: 15px 7.5px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: -7.5px;
            top: 0;
            height: 100%;
            width: calc(100% + 15px);
            display: block;
            z-index: -1;
            @include transition();
           
        }
        &:hover{
            z-index: 1;
            &:before{
                background-color: $color_primary;
            }
        }
        .#{$prefix}-desc{
            padding-bottom: 0;
        }
        h3{
            a{
                @include line-limit();
            }
        }
       
    }
    .#{$prefix}-featured-post-slider{
        position: relative;
        margin-bottom: 80px;
       
        .slick-arrow{
            top: initial;
            bottom: -80px;
            border-radius: 100%;
        }
        .slick-prev{
            left: calc(50% - 45px);
        }
        .slick-next{
            right: calc(50% - 45px);
        }
    }
}