.#{$prefix}-latest-post-section{
    padding: 15px 0 45px 0;
    color: $color_white;
    &.#{$prefix}-overlay{
        &:before{
            background-color: rgba($color_black,0.7);
        }
    }
    h2{
        margin-bottom: 0;
        margin-top: 30px;
    }
    .#{$prefix}-latest-post{
        margin-top: 30px;
        .#{$prefix}-desc{
            @include transition();
            &:hover{
                background-color: $color_black;
               
            }
        }
    }
    a{
        color: $color_white;
        &:visited{
            color: $color_white;
        }
    }
}