.desktop{
    ul{
        &.#{$prefix}-nav-menu{
            >li{
                a{
                    .menu-description{
                        background-color: $color_white;
                        display: inline-block;
                        padding: 0 5px;
                        height: 25px;
                        line-height: 25px;
                        text-transform: capitalize;
                        font-size: 10px;
                        font-weight: $font_normal; 
                        @extend %primary-color;
                        margin: 0 5px;
                    }
                }
                >a{
                    .menu-description{
                        padding: 0 10px;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: -16px;
                        background-color: $color_primary;
                        color: $color_white;
                        margin: initial;
                        &:after{
                            width: 0;
                            height: 0;
                            @include border(5px,solid);
                            border-color: $color_primary transparent transparent transparent;
                            position: absolute;
                            content:'';
                            top: 100%;
                            right: 10px;
                        }
                    }
                }
            }
        } 
    }
  
}
.sticky{
    .desktop{
        ul{
            &.#{$prefix}-nav-menu{
                >li{
                    >a{
                        .menu-description{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}