/**
 * Hootkit Plugin Styles
 * ========================================================
 */
/**
 * Slider
 * ========================================================
 */
/************* Light Slider *************/
.lSSlideOuter {
  position: relative;
}
.lightSlider {
  height: 0;
  overflow: hidden;
  /* To prevent F.O.U.C. */
  -webkit-transition: height 0.8s linear;
  -moz-transition: height 0.8s linear;
  -o-transition: height 0.8s linear;
  transition: height 0.8s linear;
}
.lightSlider .style-light {
  color: #ffffff;
  padding: 0;
}
.lightSlider .style-light h1,
.lightSlider .style-light h2,
.lightSlider .style-light h3,
.lightSlider .style-light h4,
.lightSlider .style-light h5,
.lightSlider .style-light h6,
.lightSlider .style-light a {
  color: inherit;
}
.lightSlider .style-dark {
  color: #777777;
  padding: 0;
}
.lightSlider .style-dark h1,
.lightSlider .style-dark h2,
.lightSlider .style-dark h3,
.lightSlider .style-dark h4,
.lightSlider .style-dark h5,
.lightSlider .style-dark h6 {
  color: #444444;
}
.lightSlider .style-light-on-dark {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.lightSlider .style-light-on-dark h1,
.lightSlider .style-light-on-dark h2,
.lightSlider .style-light-on-dark h3,
.lightSlider .style-light-on-dark h4,
.lightSlider .style-light-on-dark h5,
.lightSlider .style-light-on-dark h6,
.lightSlider .style-light-on-dark a {
  color: inherit;
}
.lightSlider .style-dark-on-light {
  color: #777777;
  background: rgba(255, 255, 255, 0.7);
}
.lightSlider .style-dark-on-light h1,
.lightSlider .style-dark-on-light h2,
.lightSlider .style-dark-on-light h3,
.lightSlider .style-dark-on-light h4,
.lightSlider .style-dark-on-light h5,
.lightSlider .style-dark-on-light h6 {
  color: #444444;
}
.lightSlider li.lightSlide {
  padding: 0;
  margin: 0;
}
ul.lightSlider,
#page-wrapper ul.lightSlider {
  margin: 0;
  list-style: none;
}
.lSAction > a {
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 998;
  top: 0;
  bottom: 0;
  height: auto;
  margin: 0;
  display: none;
}
.lSAction > a:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  position: absolute;
  top: 45%;
  color: #444;
  font-size: 40px;
}
.lSAction > .lSPrev {
  left: 0;
}
.lSAction > .lSPrev:after {
  content: "\f104";
  left: 6px;
}
.lSAction > .lSNext {
  right: 0;
}
.lSAction > .lSNext:after {
  content: "\f105";
  right: 6px;
}
.lSAction > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.lSSlideWrapper:hover .lSAction > a {
  display: block;
}
.lSPager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.lSPager,
.lSPager li,
.lSPager a {
  line-height: 10px;
}
.lSSlideOuter ul.lSPager.lSpg {
  margin-top: 0 !important;
  list-style: none outside none;
}
.lSSlideOuter ul.lSPager.lSpg > li {
  padding: 2px 5px;
}
.lSSlideOuter ul.lSPager.lSpg > li a {
  width: 25px;
  height: 10px;
}
.lSSlideOuter ul.lSPager.lSpg > li:hover a,
.lSSlideOuter ul.lSPager.lSpg > li.active a {
  background-color: #f85658;
}
.hidearrows .lSAction {
  display: none !important;
}
.hidebullets .lSPager {
  display: none !important;
}
/*** Responsive Light Slider ***/
@media only screen and (max-width: 969px) {
  .lightSlider .style-light,
  .lightSlider .style-light-on-dark {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
  }
  .lightSlider .style-dark,
  .lightSlider .style-dark-on-light {
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
  }
  .lSPager {
    position: static;
  }
  .lSSlideOuter ul.lSPager.lSpg > li {
    padding: 10px 10px 0 10px;
  }
  .lSSlideOuter ul.lSPager.lSpg > li a {
    width: 30px;
    height: 15px;
  }
}
/************* HootKit Image Sliders *************/
.hootkitslide {
  cursor: -webkit-grab;
  cursor: -moz-grabbing;
  cursor: grab;
  position: relative;
}
.hootkitslide img {
  width: 100%;
}
.hootkitslide-content {
  position: absolute;
  bottom: 10%;
  left: 0;
  margin: 0 50px;
  max-width: 480px;
}
.hootkitslide-caption {
  padding: 10px 15px;
}
.hootkitslide-caption h1,
.hootkitslide-caption h2,
.hootkitslide-caption h3,
.hootkitslide-caption h4,
.hootkitslide-caption h5,
.hootkitslide-caption h6 {
  font-size: 1.13333333em;
  margin: 2px 0;
}
.hootkitslide-caption h1,
.hootkitslide-caption h2,
.hootkitslide-caption h3,
.hootkitslide-caption h4,
.hootkitslide-caption h5,
.hootkitslide-caption h6,
.hootkitslide-caption p,
.hootkitslide-caption a,
.hootkitslide-caption div,
.hootkitslide-caption span {
  color: inherit;
}
.hootkitslide-caption a {
  display: block;
}
.hootkitslide-caption p {
  margin: 2px 0;
}
.hootkitslide-button {
  margin-top: 15px;
}
/************* HootKit Carousel Slider *************/
.hootkitcarousel-widget .lightSlider.fixedheight {
  height: auto !important;
}
.hootkitcarousel-widget .lSPager {
  position: static;
}
.hootkitcarousel {
  cursor: -webkit-grab;
  cursor: -moz-grabbing;
  cursor: grab;
}
.hootkitcarousel-slide {
  margin: 5px 8px 0;
}
.hootkitcarousel-img {
  text-align: center;
}
.hootkitcarousel-img + .hootkitcarousel-content {
  padding-top: 1em;
}
.hootkitcarousel-content {
  padding: 5px 10px 10px;
  text-align: center;
}
.hootkitcarousel-content h1,
.hootkitcarousel-content h2,
.hootkitcarousel-content h3,
.hootkitcarousel-content h4,
.hootkitcarousel-content h5,
.hootkitcarousel-content h6 {
  font-size: 1.13333333em;
  margin: 0.33333333em 0;
}
.hootkitcarousel-content p {
  margin: 0.33333333em 0;
}
.hootkitcarousel-content p:last-child {
  margin-bottom: 0;
}
.hootkitcarousel-title {
  margin-top: 0;
}
.hootkitcarousel-title a {
  color: inherit;
  display: block;
}
.hootkitcarousel-link {
  display: block;
}
/*** Responsive Slider ***/
@media only screen and (max-width: 969px) {
  .hootkitslide-content {
    position: relative;
    margin: 0;
    max-width: none;
  }
  .hootkitslide-caption {
    text-align: center;
  }
  .hootkitslide-caption h1,
  .hootkitslide-caption h2,
  .hootkitslide-caption h3,
  .hootkitslide-caption h4,
  .hootkitslide-caption h5,
  .hootkitslide-caption h6 {
    margin: 0;
  }
  .hootkitslide-caption p {
    margin: 0;
  }
  .hootkitslide-button.button {
    display: block;
    margin: 0;
    text-align: center;
  }
}
/**
 * Sidebars and Widgets
 * ========================================================
 */
.widget .view-all {
  text-align: right;
  text-transform: uppercase;
  font-size: 0.86666667em;
  line-height: 1.25em;
}
.widget .view-all a {
  padding: 3px 5px;
  color: #999;
}
.widget .view-all a:hover {
  color: #f85658;
}
.widget .view-all-bottom {
  margin-top: 5px;
}
.widget .view-all-top {
  margin-bottom: 5px;
}
.widget .view-all-top.view-all-withtitle {
  position: absolute;
  top: 0.75em;
  right: 0;
  margin-bottom: 0;
}
/************* Widget Borders *************/
.topborder-line:before {
  content: "\00a0";
  display: block;
  font: 0/0 a;
  border-top: solid 1px #aaa;
  margin-bottom: 45px;
}
.bottomborder-line:after {
  content: "\00a0";
  display: block;
  font: 0/0 a;
  border-bottom: solid 1px #aaa;
  margin-top: 45px;
}
.topborder-shadow:before {
  content: "\00a0";
  display: block;
  font: 0/0 a;
  height: 2px;
  border: solid 1px #aaa;
  border-left: none;
  border-right: none;
  margin-bottom: 45px;
}
.bottomborder-shadow:after {
  content: "\00a0";
  display: block;
  font: 0/0 a;
  height: 2px;
  border: solid 1px #aaa;
  border-left: none;
  border-right: none;
  margin-top: 45px;
}
.site-stretch .frontpage-area > .hgrid > .hgrid-span-12 .topborder-line:before,
.site-stretch .sub-footer > .hgrid > .hgrid-span-12 .topborder-line:before,
.site-stretch .frontpage-area > .hgrid > .hgrid-span-12 .bottomborder-line:after,
.site-stretch .sub-footer > .hgrid > .hgrid-span-12 .bottomborder-line:after,
.site-stretch .frontpage-area > .hgrid > .hgrid-span-12 .topborder-shadow:before,
.site-stretch .sub-footer > .hgrid > .hgrid-span-12 .topborder-shadow:before,
.site-stretch .frontpage-area > .hgrid > .hgrid-span-12 .bottomborder-shadow:after,
.site-stretch .sub-footer > .hgrid > .hgrid-span-12 .bottomborder-shadow:after {
  margin-left: -1999px;
  margin-right: -1999px;
}
/************* CTA Widget *************/
/* .cta-widget.Align */
.cta-left {
  text-align: left;
}
.cta-right {
  text-align: right;
}
.cta-center {
  text-align: center;
}
.cta-center .cta-subtitle,
.cta-center .cta-description {
  font-size: 1.06666667em;
  line-height: 1.5625em;
}
/* .cta-widget.Background */
.cta-background {
  padding: 25px 35px;
}
.cta-background.cta-center {
  max-width: 620px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.cta-background .cta-textlink {
  color: inherit;
}
.cta-widget.cta-light-on-dark {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
.cta-widget.cta-light-on-dark .cta-content h1,
.cta-widget.cta-light-on-dark .cta-content h2,
.cta-widget.cta-light-on-dark .cta-content h3,
.cta-widget.cta-light-on-dark .cta-content h4,
.cta-widget.cta-light-on-dark .cta-content h5,
.cta-widget.cta-light-on-dark .cta-content h6,
.cta-widget.cta-light-on-dark .cta-content a,
.cta-widget.cta-light-on-dark .cta-content .cta-subtitle {
  color: inherit;
}
.cta-widget.cta-light-on-dark .cta-textlink a,
.cta-widget.cta-light-on-dark .cta-textlink a:hover {
  color: inherit;
}
.cta-widget.cta-dark-on-light {
  color: #444444;
  background: rgba(255, 255, 255, 0.7);
}
.cta-widget.cta-dark-on-light .cta-content h1,
.cta-widget.cta-dark-on-light .cta-content h2,
.cta-widget.cta-dark-on-light .cta-content h3,
.cta-widget.cta-dark-on-light .cta-content h4,
.cta-widget.cta-dark-on-light .cta-content h5,
.cta-widget.cta-dark-on-light .cta-content h6,
.cta-widget.cta-dark-on-light .cta-content a,
.cta-widget.cta-dark-on-light .cta-content .cta-subtitle {
  color: inherit;
}
.cta-widget.cta-dark-on-light .cta-textlink a,
.cta-widget.cta-dark-on-light .cta-textlink a:hover {
  color: inherit;
}
/* .cta-widget.Title-Size */
.cta-title-small .cta-headline {
  font-size: 1.33333333em;
}
.cta-title-big .cta-headline {
  font-size: 2em;
}
.cta-title-huge .cta-headline {
  font-size: 2.33333333em;
}
/* Content */
.cta-headline {
  margin: 0;
}
.cta-subtitle {
  color: #f85658;
}
.cta-description p {
  margin: 0.66666667em 0;
}
.cta-description p:last-child {
  margin-bottom: 0;
}
.cta-textlink.more-link {
  margin-bottom: 0;
  text-align: inherit;
}
.cta-buttonlink {
  margin: 1em 0 0;
}
a.cta-button {
  margin: 0;
}
/************* Announce Widget *************/
.announce-widget {
  padding: 5px;
  position: relative;
  vertical-align: middle;
}
.announce-link {
  display: block;
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.announce-link span {
  display: none;
}
.announce-withbg {
  padding: 9px 17px 8px;
}
.announce-box.table {
  table-layout: auto;
  width: auto;
}
.announce-box-icon {
  width: 1em;
  font-size: 1.3333em;
  padding-right: 8px;
  text-align: center;
}
.announce-box-content {
  text-align: left;
}
.announce-nomsg.announce-withbg {
  padding: 5px;
}
.announce-nomsg .announce-box-icon {
  padding-right: 0;
}
/** Specific Views **/
.sidebar-header-sidebar .announce-widget {
  display: inline-block;
}
/************* Icon Widget *************/
.widget.widget_hootkit-icon {
  margin: 1em;
  display: inline-block;
}
.iconwidget-userstyle a:hover {
  color: inherit;
}
.iconwidget-withbg {
  padding: 5px;
}
.iconwidget-link {
  display: inline-block;
  color: inherit;
}
.iconwidget-link i {
  padding: 5px;
}
/************* Ticker Widget *************/
.widget_hootkit-ticker {
  max-width: 100%;
}
.ticker-widget {
  /* padding: 0 5px; */
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}
.ticker-withbg .ticker-msg-box {
  padding-right: 5px;
  padding-left: 5px;
}
.ticker-msg-box {
  padding: 3px 0;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.ticker-msgs {
  overflow: hidden;
  white-space: nowrap;
}
.ticker-msg {
  display: inline-block;
  margin: 0 35px 0 0;
  white-space: nowrap;
}
.ticker-msg:last-child {
  margin: 0;
}
.ticker-msg a {
  color: inherit;
  text-decoration: underline;
}
/* 'ticker' width bug: css width percentage does not work inside table/flex layout => so add a max width for table cells */
@media only screen and (min-width: 970px) {
  .below-header-part .ticker-msg-box,
  .topbar-part .ticker-msg-box {
    max-width: 1330px;
  }
  .header-aside .ticker-msg-box,
  .below-header-parts .ticker-msg-box,
  .topbar-parts .ticker-msg-box {
    max-width: 600px;
  }
}
/************* Profile (about) Widget *************/
.profile-widget {
  text-align: center;
}
.profile-img-circle .profile-img-placeholder {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
}
.profile-img-square .profile-img-placeholder {
  width: 460px;
  height: 270px;
}
.profile-img-placeholder {
  display: inline-block;
  max-width: 100%;
  background-size: cover;
}
.profile-content p {
  margin-bottom: 0.66666667em;
}
.profile-textlink {
  text-align: inherit;
}
.profile-link {
  display: inline-block;
}
/*** Responsive Sidebar and Widgets ***/
@media only screen and (max-width: 969px) {
  .announce-box.table {
    display: table;
  }
  .announce-box .announce-box-icon,
  .announce-box .announce-box-content {
    display: table-cell;
  }
  .ticker-widget {
    padding: 0;
  }
  .ticker-msg-box {
    width: auto !important;
  }
  #topbar .widget_hootkit-ticker,
  #page-wrapper .widget_hootkit-ticker {
    margin-left: 0;
    margin-right: 0;
  }
}
/**
 * Widget - Content Blocks
 * ========================================================
 */
/************* Content Blocks Widget *************/
.content-block-row {
  margin: 0 0 30px;
}
.content-block-row:after {
  content: "";
  display: table;
  clear: both;
}
.content-block-row:last-child {
  margin: 0;
}
.content-block-column .more-link {
  margin-top: 0;
  margin-bottom: 0;
}
.content-block {
  padding-bottom: 10px;
}
.content-block-icon {
  width: 60px;
  height: 60px;
  max-width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  line-height: 60px;
  -webkit-transition: color 0.3s ease-in, background-color 0.3s linear;
  -moz-transition: color 0.3s ease-in, background-color 0.3s linear;
  -o-transition: color 0.3s ease-in, background-color 0.3s linear;
  transition: color 0.3s ease-in, background-color 0.3s linear;
}
.content-block-icon a,
.content-block-icon a:hover {
  display: block;
}
.content-block-icon i {
  color: #f85658;
}
.content-block-icon.accent-typo i {
  color: inherit;
}
.content-block .content-block-icon {
  border-width: 1px 3px 3px 1px;
}
/*over qualify to override*/
.icon-style-none {
  line-height: 1em;
  width: auto;
  height: auto;
}
.icon-style-circle {
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  border: solid 1px #f85658;
}
.icon-style-square {
  border: solid 1px #f85658;
}
.content-block-image {
  margin-bottom: 5px;
}
.content-block-content {
  padding-top: 15px;
}
.content-block-content.no-visual {
  padding-top: 0;
}
.content-block-content p {
  margin: 0 0 10px;
}
.content-block-title {
  margin: 0 0 8px;
  font-size: 1.26666667em;
}
.content-block-title a {
  color: inherit;
  display: block;
}
.content-block-subtitle {
  margin: -2px 0 15px;
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}
.content-block-subtitle .entry-byline {
  margin: 0;
  font-size: 1em;
  color: inherit;
}
/*** Content Block Styles ***/
.content-block-style1,
.content-block-style2,
.content-block-style3 {
  text-align: center;
}
/* Style1 */
.content-block-style1 .more-link {
  text-align: center;
}
/* Style2 */
.content-block-style2.hasvisual .content-block {
  padding: 20px 15px 8px;
}
.content-block-style2.hasvisual .content-block .content-block-subtitle {
  margin-left: -15px;
  margin-right: -15px;
  background: rgba(255, 255, 255, 0.125);
}
.content-block-style2 .content-block-image {
  margin: -20px -15px 0 -15px;
}
.content-block-style2 .more-link {
  text-align: center;
  margin-top: -1px;
}
/* Style3 */
.content-block-style3 .content-block {
  padding: 35px 0px 10px;
  position: relative;
  border: solid 1px #aaa;
  border-left: none;
  border-right: none;
}
.content-block-style3.visual-image .content-block {
  border-top: none;
}
.content-block-style3.hasvisual .content-block {
  margin-top: 35px;
}
.content-block-style3 .content-block-image {
  margin-top: -70px;
}
.content-block-style3 .content-block-icon {
  border: none;
  background: #fff;
  width: 70px;
  height: 70px;
  font-size: 26px;
  line-height: 70px;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -35px;
}
.content-block-style3 .icon-style-square {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.content-block-style3 .icon-style-circle {
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.content-block-style3 .more-link {
  text-align: center;
  margin-top: -1px;
}
/* Style4 */
.content-block-style4 .content-block-icon {
  font-size: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  float: left;
}
.content-block-style4 .content-block-visual {
  margin-top: 4px;
}
.content-block-style4 .content-block-icon.icon-style-none {
  font-size: 40px;
}
.content-block-style4 .content-block-icon .far,
.content-block-style4 .content-block-icon .fas,
.content-block-style4 .content-block-icon .fab {
  left: 0;
}
.content-block-style4 .content-block-image {
  width: 35%;
  float: left;
}
.content-block-style4 .content-block-content {
  padding-top: 0;
}
.content-block-style4.visual-icon .more-link,
.content-block-style4 .content-block-content-hasicon {
  margin-left: 65px;
}
.content-block-style4.visual-image .more-link,
.content-block-style4 .content-block-content-hasimage {
  margin-left: 40%;
}
.content-block-style4.content-block-column .content-block-content .more-link {
  margin-left: 0;
}
.content-block-style4 .content-block-content.no-visual {
  margin-left: 0;
}
.content-block-style4 h4.content-block-title {
  margin: 0 0 5px;
}
.content-block-style4 .content-block-subtitle {
  margin: 0 0 10px;
}
/*** Responsive Sidebar and Widgets ***/
@media only screen and (max-width: 969px) {
  div.content-block-row {
    margin: 0;
  }
  .content-block-column {
    margin-top: 20px;
    padding-top: 20px;
  }
  .content-block-style2 .content-block-image {
    margin: 0;
  }
  .content-block-style3 {
    margin-top: 23px;
  }
  .content-block-row:first-child .content-block-column:first-child {
    /* margin-top: 0; */
    padding-top: 0;
  }
}
/**
 * Widget - Social Icons
 * ========================================================
 */
/************* Social Icons Widget *************/
.social-icons-icon {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 4px;
  position: relative;
}
.social-icons-icon:last-child {
  margin-bottom: 0;
}
.social-icons-icon i {
  position: relative;
}
.content .social-icons-icon {
  margin-bottom: 10px;
}
.social-icons-small .social-icons-icon {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.social-icons-medium .social-icons-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.social-icons-large .social-icons-icon {
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.social-icons-huge .social-icons-icon {
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  -webkit-border-radius: 33px;
  -moz-border-radius: 33px;
  border-radius: 33px;
}
#topbar .social-icons-icon,
#page-wrapper .social-icons-widget .social-icons-icon,
#topbar .social-icons-icon:hover,
#page-wrapper .social-icons-widget .social-icons-icon:hover {
  color: #ffffff;
}
.social-icons-widget .fa-amazon-block {
  background: #161413;
}
.social-icons-widget .fa-android-block {
  background: #99cc00;
}
.social-icons-widget .fa-apple-block {
  background: #000000;
}
.social-icons-widget .fa-bandcamp-block {
  background: #659daa;
}
.social-icons-widget .fa-behance-block {
  background: #4176fa;
}
.social-icons-widget .fa-bitbucket-block {
  background: #183f73;
}
.social-icons-widget .fa-btc-block {
  background: #f7931a;
}
.social-icons-widget .fa-buysellads-block {
  background: #c30100;
}
.social-icons-widget .fa-codepen-block {
  background: #000000;
}
.social-icons-widget .fa-codiepie-block {
  background: #000000;
}
.social-icons-widget .fa-contao-block {
  background: #f47c00;
}
.social-icons-widget .fa-dashcube-block {
  background: #7f7f7f;
}
.social-icons-widget .fa-delicious-block {
  background: #0002f5;
}
.social-icons-widget .fa-deviantart-block {
  background: #5e7163;
}
.social-icons-widget .fa-digg-block {
  background: #1b5791;
}
.social-icons-widget .fa-dribbble-block {
  background: #c6356b;
}
.social-icons-widget .fa-dropbox-block {
  background: #0089d1;
}
.social-icons-widget .fa-eercast-block {
  background: #f1592a;
}
.social-icons-widget .fa-envelope-block {
  background: #e44321;
}
.social-icons-widget .fa-etsy-block {
  background: #f26223;
}
.social-icons-widget .fa-facebook-block {
  background: #3c5a98;
}
.social-icons-widget .fa-flickr-block {
  background: #0062dd;
}
.social-icons-widget .fa-forumbee-block {
  background: #86ac2f;
}
.social-icons-widget .fa-foursquare-block {
  background: #3ab6e8;
}
.social-icons-widget .fa-free-code-camp-block {
  background: #4a2b0f;
}
.social-icons-widget .fa-get-pocket-block {
  background: #ed4054;
}
.social-icons-widget .fa-github-block {
  background: #000000;
}
.social-icons-widget .fa-google-block {
  background: #ea4335;
}
.social-icons-widget .fa-google-plus-block {
  background: #e44321;
}
.social-icons-widget .fa-google-wallet-block {
  background: #1476c6;
}
.social-icons-widget .fa-houzz-block {
  background: #4dbc15;
}
.social-icons-widget .fa-imdb-block {
  background: #e6b91e;
}
.social-icons-widget .fa-instagram-block {
  background: #3f729b;
}
.social-icons-widget .fa-jsfiddle-block {
  background: #2b97f3;
}
.social-icons-widget .fa-lastfm-block {
  background: #d2013b;
}
.social-icons-widget .fa-leanpub-block {
  background: #231f20;
}
.social-icons-widget .fa-linkedin-block {
  background: #00659b;
}
.social-icons-widget .fa-meetup-block {
  background: #f20017;
}
.social-icons-widget .fa-mixcloud-block {
  background: #25292b;
}
.social-icons-widget .fa-paypal-block {
  background: #15477c;
}
.social-icons-widget .fa-pinterest-block {
  background: #cf1d25;
}
.social-icons-widget .fa-quora-block {
  background: #c51a00;
}
.social-icons-widget .fa-reddit-block {
  background: #ff4500;
}
.social-icons-widget .fa-rss-block {
  background: #ff6501;
}
.social-icons-widget .fa-scribd-block {
  background: #1a7bba;
}
.social-icons-widget .fa-slack-block {
  background: #352931;
}
.social-icons-widget .fa-slideshare-block {
  background: #0ca8aa;
}
.social-icons-widget .fa-snapchat-block {
  background: #fffc00;
}
.social-icons-widget .fa-soundcloud-block {
  background: #ff6600;
}
.social-icons-widget .fa-spotify-block {
  background: #79b800;
}
.social-icons-widget .fa-stack-exchange-block {
  background: #205297;
}
.social-icons-widget .fa-stack-overflow-block {
  background: #f47c23;
}
.social-icons-widget .fa-steam-block {
  background: #000000;
}
.social-icons-widget .fa-stumbleupon-block {
  background: #ee4723;
}
.social-icons-widget .fa-trello-block {
  background: #0089d9;
}
.social-icons-widget .fa-tripadvisor-block {
  background: #589442;
}
.social-icons-widget .fa-tumblr-block {
  background: #3e5976;
}
.social-icons-widget .fa-twitch-block {
  background: #6542a6;
}
.social-icons-widget .fa-twitter-block {
  background: #32ccfe;
}
.social-icons-widget .fa-viadeo-block {
  background: #f07355;
}
.social-icons-widget .fa-vimeo-square-block {
  background: #1bb6ec;
}
.social-icons-widget .fa-vk-block {
  background: #507299;
}
.social-icons-widget .fa-wikipedia-w-block {
  background: #000000;
}
.social-icons-widget .fa-windows-block {
  background: #0078d7;
}
.social-icons-widget .fa-wordpress-block {
  background: #3378b0;
}
.social-icons-widget .fa-xing-block {
  background: #cfdc00;
}
.social-icons-widget .fa-y-combinator-block {
  background: #f26522;
}
.social-icons-widget .fa-yelp-block {
  background: #c41200;
}
.social-icons-widget .fa-youtube-block {
  background: #d4231e;
}
.social-icons-invert .social-icons-icon {
  background: none;
  color: inherit !important;
  margin: 0 5px;
}
.social-icons-invert .social-icons-icon:hover {
  color: #ffffff !important;
}
.social-icons-invert .social-icons-icon:hover:before {
  display: none;
}
.social-icons-invert .fa-amazon-block:hover {
  background: #161413;
}
.social-icons-invert .fa-android-block:hover {
  background: #99cc00;
}
.social-icons-invert .fa-apple-block:hover {
  background: #000000;
}
.social-icons-invert .fa-bandcamp-block:hover {
  background: #659daa;
}
.social-icons-invert .fa-behance-block:hover {
  background: #4176fa;
}
.social-icons-invert .fa-bitbucket-block:hover {
  background: #183f73;
}
.social-icons-invert .fa-btc-block:hover {
  background: #f7931a;
}
.social-icons-invert .fa-buysellads-block:hover {
  background: #c30100;
}
.social-icons-invert .fa-codepen-block:hover {
  background: #000000;
}
.social-icons-invert .fa-codiepie-block:hover {
  background: #000000;
}
.social-icons-invert .fa-contao-block:hover {
  background: #f47c00;
}
.social-icons-invert .fa-dashcube-block:hover {
  background: #7f7f7f;
}
.social-icons-invert .fa-delicious-block:hover {
  background: #0002f5;
}
.social-icons-invert .fa-deviantart-block:hover {
  background: #5e7163;
}
.social-icons-invert .fa-digg-block:hover {
  background: #1b5791;
}
.social-icons-invert .fa-dribbble-block:hover {
  background: #c6356b;
}
.social-icons-invert .fa-dropbox-block:hover {
  background: #0089d1;
}
.social-icons-invert .fa-eercast-block:hover {
  background: #f1592a;
}
.social-icons-invert .fa-envelope-block:hover {
  background: #e44321;
}
.social-icons-invert .fa-etsy-block:hover {
  background: #f26223;
}
.social-icons-invert .fa-facebook-block:hover {
  background: #3c5a98;
}
.social-icons-invert .fa-flickr-block:hover {
  background: #0062dd;
}
.social-icons-invert .fa-forumbee-block:hover {
  background: #86ac2f;
}
.social-icons-invert .fa-foursquare-block:hover {
  background: #3ab6e8;
}
.social-icons-invert .fa-free-code-camp-block:hover {
  background: #4a2b0f;
}
.social-icons-invert .fa-get-pocket-block:hover {
  background: #ed4054;
}
.social-icons-invert .fa-github-block:hover {
  background: #000000;
}
.social-icons-invert .fa-google-block:hover {
  background: #ea4335;
}
.social-icons-invert .fa-google-plus-block:hover {
  background: #e44321;
}
.social-icons-invert .fa-google-wallet-block:hover {
  background: #1476c6;
}
.social-icons-invert .fa-houzz-block:hover {
  background: #4dbc15;
}
.social-icons-invert .fa-imdb-block:hover {
  background: #e6b91e;
}
.social-icons-invert .fa-instagram-block:hover {
  background: #3f729b;
}
.social-icons-invert .fa-jsfiddle-block:hover {
  background: #2b97f3;
}
.social-icons-invert .fa-lastfm-block:hover {
  background: #d2013b;
}
.social-icons-invert .fa-leanpub-block:hover {
  background: #231f20;
}
.social-icons-invert .fa-linkedin-block:hover {
  background: #00659b;
}
.social-icons-invert .fa-meetup-block:hover {
  background: #f20017;
}
.social-icons-invert .fa-mixcloud-block:hover {
  background: #25292b;
}
.social-icons-invert .fa-paypal-block:hover {
  background: #15477c;
}
.social-icons-invert .fa-pinterest-block:hover {
  background: #cf1d25;
}
.social-icons-invert .fa-quora-block:hover {
  background: #c51a00;
}
.social-icons-invert .fa-reddit-block:hover {
  background: #ff4500;
}
.social-icons-invert .fa-rss-block:hover {
  background: #ff6501;
}
.social-icons-invert .fa-scribd-block:hover {
  background: #1a7bba;
}
.social-icons-invert .fa-slack-block:hover {
  background: #352931;
}
.social-icons-invert .fa-slideshare-block:hover {
  background: #0ca8aa;
}
.social-icons-invert .fa-snapchat-block:hover {
  background: #fffc00;
}
.social-icons-invert .fa-soundcloud-block:hover {
  background: #ff6600;
}
.social-icons-invert .fa-spotify-block:hover {
  background: #79b800;
}
.social-icons-invert .fa-stack-exchange-block:hover {
  background: #205297;
}
.social-icons-invert .fa-stack-overflow-block:hover {
  background: #f47c23;
}
.social-icons-invert .fa-steam-block:hover {
  background: #000000;
}
.social-icons-invert .fa-stumbleupon-block:hover {
  background: #ee4723;
}
.social-icons-invert .fa-trello-block:hover {
  background: #0089d9;
}
.social-icons-invert .fa-tripadvisor-block:hover {
  background: #589442;
}
.social-icons-invert .fa-tumblr-block:hover {
  background: #3e5976;
}
.social-icons-invert .fa-twitch-block:hover {
  background: #6542a6;
}
.social-icons-invert .fa-twitter-block:hover {
  background: #32ccfe;
}
.social-icons-invert .fa-viadeo-block:hover {
  background: #f07355;
}
.social-icons-invert .fa-vimeo-square-block:hover {
  background: #1bb6ec;
}
.social-icons-invert .fa-vk-block:hover {
  background: #507299;
}
.social-icons-invert .fa-wikipedia-w-block:hover {
  background: #000000;
}
.social-icons-invert .fa-windows-block:hover {
  background: #0078d7;
}
.social-icons-invert .fa-wordpress-block:hover {
  background: #3378b0;
}
.social-icons-invert .fa-xing-block:hover {
  background: #cfdc00;
}
.social-icons-invert .fa-y-combinator-block:hover {
  background: #f26522;
}
.social-icons-invert .fa-yelp-block:hover {
  background: #c41200;
}
.social-icons-invert .fa-youtube-block:hover {
  background: #d4231e;
}
.fa-skype-block {
  position: relative;
}
.fa-skype-block i {
  visibility: hidden;
}
.hoot-skype-call-button,
.hoot-skype-call-button p,
.hoot-skype-call-button p a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hoot-skype-call-button p {
  margin: 0 !important;
}
.hoot-skype-call-button img {
  margin: 0 !important;
  vertical-align: -2px !important;
}
/** Social Icon Hover **/
.social-icons-icon {
  -webkit-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear, font-size 0.1s linear;
  -moz-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear, font-size 0.1s linear;
  -o-transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear, font-size 0.1s linear;
  transition: color 0.3s ease-in, background-color 0.3s linear, border-color 0.3s linear, font-size 0.1s linear;
}
.social-icons-icon:hover:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
}
.social-icons-icon:hover i {
  text-shadow: 2px 2px #000;
}
.social-icons-small .social-icons-icon:hover i {
  text-shadow: 1px 1px #000;
}
.social-icons-large .social-icons-icon:hover {
  font-size: 30px;
}
.social-icons-huge .social-icons-icon:hover {
  font-size: 35px;
}
/** Specific Views **/
#topbar .hoot-skype-call-button img {
  vertical-align: -12px !important;
}
.header-part .social-icons-icon {
  border: none;
}
/**
 * Widget - Post Grid
 * ========================================================
 */
/************* Post Grid Widget *************/
.post-grid-widget {
  margin-right: -4px;
  position: relative;
}
.post-grid-widget .post-gridunit {
  position: relative;
  padding: 0 4px 4px 0;
}
.post-gridunit-image {
  background-position: center center;
  background-color: rgba(100, 100, 100, 0.05);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.post-gridunit-image img {
  width: 100%;
  display: none;
}
.post-gridunit-size2 .post-gridunit-image {
  padding-bottom: 4px;
}
.post-gridunit-bg {
  position: absolute;
  left: 0;
  right: 4px;
  bottom: 4px;
  top: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#38000000', GradientType=0);
}
.post-gridunit-imglink {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.post-gridunit-content {
  position: absolute;
  left: 10px;
  right: 14px;
  bottom: 14px;
  color: #ffffff;
}
.post-gridunit-title {
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  margin: 0;
  color: inherit;
}
.post-gridunit-title a,
.post-gridunit-title a:hover {
  color: inherit;
}
.post-gridunit-subtitle .entry-byline {
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-transform: none;
  color: inherit;
}
.post-gridunit-image {
  height: 215px;
}
.post-gridunit-size2 .post-gridunit-image {
  height: 430px;
}
@media only screen and (min-width: 970px) {
  .post-gridunit-size2 {
    height: auto !important;
  }
}
@media only screen and (max-width: 969px) {
  .post-gridunit-size2 {
    margin-bottom: 4px;
    padding-bottom: 0;
    height: 215px;
  }
  .post-gridunit-size2 .post-gridunit-image {
    height: inherit !important;
    padding-bottom: 0;
  }
  .post-gridunit-size2 .post-gridunit-bg {
    bottom: 0;
  }
  .post-gridunit-size2 .post-gridunit-content {
    bottom: 10px;
  }
}
/**
 * Widget - Posts List
 * ========================================================
 */
/************* Posts List Widget *************/
/*  List Styles */
.posts-list-style1 .posts-listunit-small .posts-listunit-image {
  width: 90px;
  height: 80px;
}
.posts-list-style2 .posts-listunit-small .posts-listunit-image {
  width: 150px;
  height: 135px;
}
/* List Column */
/* List Unit */
.posts-listunit {
  margin-bottom: 1.66666667em;
}
.posts-listunit:last-child {
  margin-bottom: 0;
}
.posts-listunit-small {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
}
.posts-listunit-small .posts-listunit-image {
  flex-shrink: 0;
  margin-right: 20px;
}
.posts-listunit-small .posts-listunit-bg img {
  width: 100%;
  visibility: hidden;
}
.posts-listunit-small .posts-listunit-content p {
  margin-top: 5px;
}
.posts-listunit-large .posts-listunit-image {
  margin-bottom: 20px;
}
.posts-listunit-large .posts-listunit-bg:before {
  content: "";
  display: block;
}
.posts-listunit-large .posts-listunit-bg .entry-featured-img-wrap a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.posts-listunit-large .posts-listunit-bg img {
  display: none;
}
.posts-imgsize-small .posts-listunit-bg:before {
  padding-top: 190px;
}
.posts-imgsize-medium .posts-listunit-bg:before {
  padding-top: 260px;
}
.posts-imgsize-big .posts-listunit-bg:before {
  padding-top: 345px;
}
/* List Unit Image */
.posts-listunit-image {
  position: relative;
}
.posts-listunit-image img {
  display: block;
  margin: 0 auto;
}
.posts-listunit-image a {
  display: block;
}
.posts-listunit-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.1);
}
/* List Unit Content */
.posts-listunit-content p {
  margin: 0.66666667em 0 0;
}
.posts-listunit-title {
  font-size: 1.26666667em;
  font-family: inherit;
  margin: 0;
}
.posts-listunit-title a {
  color: inherit;
}
.posts-listunit-small .posts-listunit-title {
  font-size: 1.13333333em;
}
.posts-listunit-subtitle .entry-byline {
  padding: 0;
  font-size: 1em;
}
.posts-listunit-text .sharedaddy {
  display: none;
}
.posts-listunit-excerpt .more-link {
  margin-top: 5px;
  text-align: left;
  border: none;
}
.posts-listunit-excerpt .more-link a {
  background: none;
  padding-left: 0;
}
/*** Responsive Sidebar and Widgets ***/
@media only screen and (max-width: 969px) {
  .posts-listunit:last-child {
    margin-bottom: 1.66666667em;
  }
  .hcol-last .posts-listunit:last-child {
    margin-bottom: 0;
  }
  .posts-list-style2 .posts-listunit-small .posts-listunit-image {
    width: 100px;
    height: 90px;
  }
}
/**
 * Theme and WordPress Plugins
 * ========================================================
 */
/************* Page Builder *************/
.so-panel .content-blocks-widget,
.so-panel .vcards-widget,
.so-panel .number-blocks-widget {
  margin: 0;
}
.so-panel .topborder-shadow .content-blocks-widget,
.so-panel .topborder-line .content-blocks-widget,
.so-panel .topborder-shadow .vcards-widget,
.so-panel .topborder-line .vcards-widget,
.so-panel .topborder-shadow .number-blocks-widget,
.so-panel .topborder-line .number-blocks-widget {
  margin-top: 3em;
}
.so-panel .bottomborder-shadow .content-blocks-widget,
.so-panel .bottomborder-line .content-blocks-widget,
.so-panel .bottomborder-shadow .vcards-widget,
.so-panel .bottomborder-line .vcards-widget,
.so-panel .bottomborder-shadow .number-blocks-widget,
.so-panel .bottomborder-line .number-blocks-widget {
  margin-bottom: 3em;
}
