.#{$prefix}-footer-menu-section{
    background-color: $color_black;
    .#{$prefix}-footer-menu{
        @extend %reset-ul;
        text-align: center;
        li{
            display: inline-block;
            a{
                display: inline-block;
                text-transform: uppercase;
                font-size: 14px;
                padding: 10px 5px;
                font-weight: $font_semi_bold;
                color: $color_white;
                position: relative;
                &:visited{
                    color: $color_white;
                }
                &:hover{
                    color: $color_primary;
                }
                &:after{
                    content: '/';
                    display: inline-block;
                }
                span{
                    display: inline-block;
                    padding: 0 5px;
                }
            }
        }
    }
}